# Default owners of the repository
*       @dyte-in/documentation

# Owners for JS, JSX, TS, and TSX files
*.js    @dyte-in/frontend
*.jsx   @dyte-in/frontend
*.ts    @dyte-in/frontend
*.tsx   @dyte-in/frontend
