openapi: 3.0.0
info:
  version: v2
  title: Dyte REST APIs
  description: |-
    ## Rate Limiting

    Rate limits specify the maximum number of requests (GET, POST, PUT, or DELETE) a user can make in a given time period. When you exceed a rate limit, the API request fails and returns the HTTP 429 status code. The HTTP 429 status code indicates that the user made too many requests in a given period of time ("rate limiting").

    We apply rate limits at the IP address level.

    ### Rate Limit by IP Address

    The rate limit threshold is set at 2000 calls per minute per IP address. After 2000 calls, a 429 status code is sent, and access to any of our APIs is denied. 

    Note: Rate limit is applied at the domain level, which means that all APIs are included in the threshold.

    | Number of Requests | Resources | Time Window | Status Code Returned when Threshold Exceeds |
    |--|--|--|--|
    | 2000 | Per IP | Per minute | HTTP 429 |

    ### Sample

    The following sample shows the API response for the status code 429.

    ```http
    HTTP/1.1 429 Too Many Requests
    retry-after: 4
    x-envoy-ratelimited: true
    date: Tue, 06 Sep 2022 08:32:55 GMT
    server: envoy
    ```

    ### Why Do You Set a Rate Limit?

    Rate limiting is required to prevent the network from becoming overloaded as a result of numerous requests. This could be due to hacking activity, overuse of the Dyte APIs by a bot, or a bug in the code. Setting a rate limit helps to prevent this type of API overuse.

    Setting a rate limit also protects us from various types of attacks, such as:
    - [Brute Force Attack](https://www.fortinet.com/resources/cyberglossary/brute-force-attack)
    - [DDOS attack](https://aws.amazon.com/shield/ddos-attack-protection/)
    - [Web-scraping](https://www.geeksforgeeks.org/what-is-web-scraping-and-how-to-use-it/)
  license:
    name: ''
servers:
  - url: 'https://api.dyte.io/v2'
    description: ''
paths:
  /livestreams:
    post:
      tags:
        - Live streams
      summary: Create an independent livestream
      description: 'Creates a livestream for the given organization ID and returns ingest server, stream key, and playback URL. You can pass custom input to the ingest server and stream key, and freely distribute the content using the playback URL on any player that supports HLS/LHLS.'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                  description: Name of the livestream
                  pattern: '^[a-zA-Z0-9-_]*$'
              x-examples:
                example-1:
                  name: prdmmp-xhycsl-asdf
            examples:
              example-1:
                value:
                  name: prdmmp-xhycsl
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        enum:
                          - LIVE
                          - IDLE
                          - ERRORED
                          - INVOKED
                      name:
                        type: string
                      meeting_id:
                        type: string
                        nullable: true
                      ingest_server:
                        type: string
                        description: The server URL to which the RTMP encoder should send the video and audio data.
                      id:
                        type: string
                        description: The livestream ID.
                      stream_key:
                        type: string
                        description: Unique key for accessing each livestream.
                      playback_url:
                        type: string
                        description: The web address that viewers can use to watch the livestream.
                      disabled:
                        type: boolean
                        description: Specifies if the livestream was disabled.
                x-examples: null
              examples:
                example-1:
                  value:
                    success: true
                    data:
                      status: INVOKED
                      name: Livestreaming-Demo
                      meeting_id: null
                      ingest_server: 'rtmps://2ec802dd47b0.global-contribute.live-video.net:443/app/'
                      id: 78dd0b50-4147-4bb8-88d3-2ccc2e98bff0
                      stream_key: sk_ap-south-1_BSErwBSdrcWn_0eG01cFGCJcRcCsflOAX3Eu4B3RyRX
                      playback_url: 'https://2ec802dd47b0.ap-south-1.playback.live-video.net/api/video/v1/ap-south-1.944908621410.channel.Jk1l97eJF0ME.m3u8'
                      disabled: false
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
    get:
      tags:
        - Live streams
      summary: Fetch all livestreams
      description: 'Returns details of livestreams associated with the given organization ID. It includes livestreams created by your organization and Dyte meetings that are livestreamed by your organization. If you only want details of livestreams created by your organization and not Dyte meetings, you can use the `exclude_meetings` query parameter.'
      operationId: fetch_all_livestreams
      parameters:
        - name: exclude_meetings
          in: query
          description: Exclude the Dyte meetings that are livestreamed.
          schema:
            type: boolean
            default: false
        - name: per_page
          in: query
          description: Number of results per page.
          schema:
            type: integer
        - name: page_no
          in: query
          description: The page number from which you want your page search results to be displayed.
          schema:
            type: integer
        - name: status
          in: query
          description: Specifies the status of the operation.
          schema:
            type: string
            enum:
              - LIVE
              - IDLE
              - ERRORED
              - INVOKED
        - name: start_time
          in: query
          description: Specify the start time range in ISO format to access the live stream.
          schema:
            type: string
            format: date-time
        - name: end_time
          in: query
          description: Specify the end time range in ISO format to access the live stream.
          schema:
            type: string
            format: date-time
        - name: sort_order
          in: query
          description: Specifies the sorting order for the results.
          schema:
            type: string
            enum:
              - ASC
              - DSC
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        enum:
                          - LIVE
                          - IDLE
                          - ERRORED
                          - INVOKED
                      id:
                        type: string
                        description: The ID of the livestream.
                        format: uuid
                        example: 3fd739f4-3c41-456e-bfba-6ebd51e16d2d
                      name:
                        type: string
                        description: Name of the livestream.
                        example: test
                      ingest_server:
                        type: string
                        description: The server URL to which the RTMP encoder sends the video and audio data.
                        example: 'rtmps://2ec802dd47b0.global-contribute.live-video.net:443/app/'
                      stream_key:
                        type: string
                        description: Unique key for accessing each livestream.
                        example: sk_ap-south-1_fiETVh5SNa3V_MAs0NlNCkJqTokqrMbrdWyA2naII25
                      playback_url:
                        type: string
                        description: The web address that viewers can use to watch the livestream.
                        example: 'https://2ec802dd47b0.ap-south-1.playback.live-video.net/api/video/v1/ap-south-1.944908621410.channel.mA2dNqrBulpi.m3u8'
                      meeting_id:
                        type: string
                        description: ID of the meeting.
                      created_at:
                        type: string
                        description: Timestamp the object was created at. The time is returned in ISO format.
                        format: date-time
                        example: '2023-07-15T11:48:34.753Z'
                      updated_at:
                        type: string
                        description: Timestamp the object was updated at. The time is returned in ISO format.
                        format: date-time
                        example: '2023-07-15T11:48:34.753Z'
                      disabled:
                        type: string
                        description: Specifies if the livestream was disabled.
                      paging:
                        type: object
                        properties:
                          total_count:
                            type: integer
                            example: 1
                          start_offset:
                            type: integer
                            example: 1
                          end_offset:
                            type: integer
                            example: 1
                x-examples: null
              examples:
                example-0:
                  summary: Get All Live streams Of An Org Staging Success
                  value:
                    success: true
                    data:
                      - id: 3fd739f4-3c41-456e-bfba-6ebd51e16d2c
                        name: null
                        ingest_server: 'rtmps://1ab802dd26b0.global-contribute.live-video.net:344/app/'
                        stream_key: sk_ap-south-1_fiETVh5SNa3V_ABs0NlNCkJqTokqrMbrdWyA1bcII32
                        status: IDLE
                        meeting_id: null
                        playback_url: 'https://2ec802dd47b0.ap-south-1.playback.live-video.net/api/video/v1/ap-south-1.811208621215.channel.mA2dNqrBulpi.m3u8'
                        created_at: '2023-07-15T11:48:34.753Z'
                        updated_at: '2023-07-15T11:48:34.753Z'
                        disabled: false
                    paging:
                      total_count: 1
                      start_offset: 1
                      end_offset: 1
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
  '/meetings/{meeting_id}/active-livestream/stop':
    post:
      tags:
        - Live streams
      summary: Stop livestreaming a meeting
      description: Stops the active livestream of a meeting associated with the given meeting ID. Retreive the meeting ID using the `Create a meeting` API.
      operationId: stop_livestreaming
      parameters:
        - name: meeting_id
          in: path
          description: ID of the meeting
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                x-examples: null
              examples:
                example-1:
                  value:
                    success: true
                    data:
                      message: Stopped live stream successfully
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
  '/meetings/{meeting_id}/livestream':
    get:
      tags:
        - Live streams
      summary: Fetch livestream session details for a meeting
      description: Returns livestream session details for the given meeting ID. Retreive the meeting ID using the `Create a meeting` API.
      operationId: livestream-session-details
      parameters:
        - name: page_no
          in: query
          description: The page number from which you want your page search results to be displayed.
          schema:
            type: integer
        - name: per_page
          in: query
          description: Number of results per page.
          schema:
            type: integer
        - name: meeting_id
          in: path
          description: ID of the meeting
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      livestreams:
                        type: array
                        items:
                          type: object
                          properties:
                            status:
                              type: string
                              enum:
                                - LIVE
                                - INVOKED
                                - ERRORED
                                - IDLE
                            name:
                              type: string
                              nullable: true
                              description: Name of the livestream.
                            meeting_id:
                              type: string
                              description: The ID of the meeting that was livestreamed.
                            created_at:
                              type: string
                              description: The timestamp at which the livestream was created. The time is returned in ISO format.
                              format: date-time
                            updated_at:
                              type: string
                              description: The timestamp at which the livestream was updated. The time is returned in ISO format.
                              format: date-time
                            ingest_server:
                              type: string
                              description: The server URL to which the RTMP encoder sends the video and audio data.
                            id:
                              type: string
                              description: The livestream ID.
                            stream_key:
                              type: string
                              description: Unique key for accessing each livestream.
                            playback_url:
                              type: string
                              description: The web address that viewers can use to watch the livestream.
                            disabled:
                              type: boolean
                              description: Specifies if the livestream was disabled.
                      sessions:
                        type: object
                        properties:
                          id:
                            type: string
                            description: The ID of the livestream session.
                          livestream_id:
                            type: string
                            description: The ID of the livestream.
                          err_message:
                            type: string
                          invoked_time:
                            type: string
                            description: The time at which the livestream was invoked.
                            format: date-time
                          started_time:
                            type: string
                            description: The time at which the livestream was started.
                            format: date-time
                          stopped_time:
                            type: string
                            description: The time at which the livestream was stopped.
                            format: date-time
                          created_at:
                            type: string
                            description: The timestamp at which the livestream was created. The time is returned in ISO format.
                            format: date-time
                          updated_at:
                            type: string
                            description: The timestamp at which the livestream was updated. The time is returned in ISO format.
                            format: date-time
                          ingest_seconds:
                            type: string
                            description: The time duration for which the input was given or the meeting was streamed.
                      paging:
                        type: object
                        properties:
                          total_count:
                            type: integer
                            example: 1
                          start_offset:
                            type: integer
                            example: 1
                          end_offset:
                            type: integer
                            example: 1
                x-examples: null
              examples:
                example-0:
                  summary: Get LiveStream From StreamId Success
                  value:
                    success: true
                    data:
                      livestream:
                        id: b60ef3da-fbbb-441b-9168-8235b0035248
                        name: null
                        ingest_server: 'rtmps://2ec802dd47b0.global-contribute.live-video.net:233/app/'
                        stream_key: sk_ap-south-1_x3lKBdJa8UDN_3q6ABCDJnqnbnhyrkXrOG103ABsxnZ
                        status: LIVE
                        meeting_id: aaa87945-df1c-49d9-8159-262a7ae6cfde
                        playback_url: 'https://2ec802dd47b0.ap-south-1.playback.live-video.net/api/video/v1/ap-south-1.855008621410.channel.ob5KQUrP5Zaf.m3u8'
                        created_at: '2023-07-15T07:08:26.634Z'
                        updated_at: '2023-07-15T07:08:40.726Z'
                        disabled: false
                      sessions:
                        - id: cf55a850-c3fd-46b5-b5d2-25b3b9aa1686
                          livestream_id: b60ef3da-fbbb-441b-9168-8235b0035248
                          err_message: null
                          invoked_time: null
                          started_time: '2023-07-15T07:08:39.000Z'
                          stopped_time: null
                          created_at: '2023-07-15T07:08:40.742Z'
                          updated_at: '2023-07-15T07:08:40.742Z'
                          ingest_seconds: 60
                          viewer_seconds: 60
                    paging:
                      total_count: 1
                      start_offset: 1
                      end_offset: 1
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
  '/meetings/{meeting_id}/livestreams':
    post:
      tags:
        - Live streams
      summary: Start livestreaming a meeting
      description: Starts livestream of a meeting associated with the given meeting ID. Retreive the meeting ID using the `Create a meeting` API.
      operationId: start-livestreaming
      parameters:
        - name: meeting_id
          in: path
          description: ID of the meeting
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                  pattern: '^[a-zA-Z0-9-_]*$'
                video_config:
                  type: object
                  properties:
                    height:
                      type: integer
                      description: Height of the livestreaming video in pixels
                    width:
                      type: integer
                      description: Width of the livestreaming video in pixels
              x-examples:
                example-1:
                  name: prdmmp-xhycsl
            examples:
              example-1:
                value:
                  name: prdmmp-xhycsl
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        enum:
                          - LIVE
                          - IDLE
                          - ERRORED
                          - INVOKED
                      ingest_server:
                        type: string
                        description: The server URL to which the RTMP encoder sends the video and audio data.
                      id:
                        type: string
                        description: The livestream ID.
                      stream_key:
                        type: string
                        description: Unique key for accessing each livestream.
                      playback_url:
                        type: string
                        description: The web address that viewers can use to watch the livestream.
                x-examples: null
              examples:
                example-1:
                  value:
                    success: true
                    data:
                      status: INVOKED
                      ingest_server: 'rtmps://2ec802dd47b0.global-contribute.live-video.net:443/app/'
                      id: 7088bba8-f522-49a8-b59b-3cd0e946bbb0
                      stream_key: sk_ap-south-1_AfnVpeYZjidO_fBpWKody7sDUOEfy9Zc6XAZegkR0Va
                      playback_url: 'https://2ec802dd47b0.ap-south-1.playback.live-video.net/api/video/v1/ap-south-1.944908621410.channel.rVKA2KM5Lunt.m3u8'
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
  '/livestreams/{livestream_id}/reset-stream-key':
    post:
      tags:
        - Live streams
      summary: Reset a livestream's stream key
      description: Resets the stream key for the given livestream ID. Retreive the livestream ID using the `Start livestreaming a meeting` API.
      operationId: reset-stream-key
      parameters:
        - name: livestream_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The ID of the livestream.
                      name:
                        type: string
                        description: Name of the livestream.
                      ingest_server:
                        type: string
                        description: The server URL to which the RTMP encoder sends the video and audio data.
                      stream_key:
                        type: string
                        description: Unique key for accessing each livestream.
                      status:
                        type: string
                        enum:
                          - LIVE
                          - IDLE
                          - ERRORED
                          - INVOKED
                      meeting_id:
                        type: string
                        description: The ID of the meeting.
                      playback_url:
                        type: string
                        description: The web address that viewers can use to watch the livestream.
                      created_at:
                        type: string
                        description: Timestamp the object was created at. The time is returned in ISO format.
                        format: date-time
                      updated_at:
                        type: string
                        description: Timestamp the object was updated at. The time is returned in ISO format.
                        format: date-time
                      disabled:
                        type: string
                        description: Specifies if the livestream was disabled.
                x-examples:
                  example-1:
                    success: false
              examples:
                Example 1:
                  value:
                    success: true
                    data:
                      id: 61e03cb4-d4da-42ad-9169-f53360f4f4b4
                      name: null
                      ingest_server: 'rtmps://2ec802dd47b0.global-contribute.live-video.net:223/app/'
                      stream_key: ''
                      status: LIVE
                      meeting_id: bbb03399-24e3-4b0c-90ec-172e97e636be
                      playback_url: 'https://2ec802dd47b0.ap-south-1.playback.live-video.net/api/video/v1/ap-south-1.124408622242.channel.9Ztr6yk4vndX.m3a1'
                      created_at: '2023-07-15T11:58:08.404Z'
                      updated_at: '2023-07-15T12:02:48.242Z'
                      disabled: true
            application/xml:
              schema:
                type: object
                properties:
                  success:
                    type: string
                  data:
                    $ref: '#/components/schemas/LivestreamBase'
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
  /analytics/livestreams/overall:
    get:
      tags:
        - Live streams
        - LivestreamAnalytics
      summary: Fetch complete analytics data for your livestreams
      description: Returns livestream analytics for the specified time range.
      operationId: get-livestream-analytics-complete
      parameters:
        - name: start_time
          in: query
          description: Specify the start time range in ISO format to access the livestream analytics.
          schema:
            type: string
            format: date-time
        - name: end_time
          in: query
          description: Specify the end time range in ISO format to access the livestream analytics.
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      count:
                        type: integer
                        description: Count of total livestreams.
                      total_ingest_seconds:
                        type: integer
                        description: Total time duration for which the input was given or the meeting was streamed.
                      total_viewer_seconds:
                        type: integer
                        description: Total view time for which the viewers watched the stream.
              examples:
                Example 1:
                  value:
                    success: true
                    data:
                      - date: '2023-07-15T00:00:00.000Z'
                        count: 4
                        total_ingest_seconds: 531
                        total_viewer_seconds: 116
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
  /analytics/livestreams/daywise:
    get:
      tags:
        - Live streams
        - LivestreamAnalytics
      summary: Fetch day-wise analytics data for your livestreams
      description: Returns day-wise livestream analytics data for the specified time range.
      operationId: get-livestream-analytics-daywise
      parameters:
        - name: start_time
          in: query
          description: Specify the start time range in ISO format to access the livestream analytics.
          schema:
            type: string
            format: date-time
        - name: end_time
          in: query
          description: Specify the end time range in ISO format to access the livestream analytics.
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      date:
                        type: string
                        description: 'The livestream timestamp, provided in ISO format.'
                      count:
                        type: string
                        description: Count of total livestreams.
                      total_ingest_seconds:
                        type: string
                        description: Total time duration for which the input was given or the meeting was streamed.
                      total_viewer_seconds:
                        type: string
                        description: Total view time for which the viewers watched the stream.
              examples:
                Example 1:
                  value:
                    success: true
                    data:
                      - date: '2023-07-15T00:00:00.000Z'
                        count: 4
                        total_ingest_seconds: 531
                        total_viewer_seconds: 116
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
  /analytics/daywise:
    get:
      tags:
        - Analytics
        - Organizations
      summary: Fetch day-wise session and recording analytics data for an organization
      description: 'Returns day-wise session and recording analytics data of an organization for the specified time range start_date to end_date. If start_date and end_date are not provided, the default time range is set from 30 days ago to the current date.'
      operationId: get-org-analytics
      parameters:
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/endDate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      session_stats:
                        type: object
                        description: Session statistics of an organization during the range specified
                        properties:
                          sessions_count:
                            type: integer
                            description: Total number of sessions during the range specified
                          sessions_minutes_consumed:
                            type: number
                            description: Total session minutes during the range specified
                          day_stats:
                            type: array
                            description: Day wise session stats
                            items:
                              type: object
                              properties:
                                day:
                                  type: string
                                total_sessions:
                                  type: integer
                                  description: Total number of sessions for a specific day
                                total_session_minutes:
                                  type: number
                                  description: Total session minutes for a specific day
                      recording_stats:
                        type: object
                        description: Recording statistics of an organization during the range specified
                        properties:
                          recording_count:
                            type: integer
                            description: Total number of recordings during the range specified
                          recording_minutes_consumed:
                            type: number
                            description: Total recording minutes during the range specified
                          day_stats:
                            type: array
                            description: Day wise recording stats
                            items:
                              type: object
                              properties:
                                day:
                                  type: string
                                total_recordings:
                                  type: integer
                                  description: Total number of recordings for a specific day
                                total_recording_minutes:
                                  type: integer
                                  description: Total recording minutes for a specific day
                x-examples:
                  Example 1:
                    success: true
                    data:
                      session_stats:
                        sessions_count: 4
                        sessions_minutes_consumed: 243.5
                        day_stats:
                          - day: '2023-10-17T00:00:00.000Z'
                            total_sessions: 2
                            total_session_minutes: 221
                          - day: '2023-10-18T00:00:00.000Z'
                            total_sessions: 2
                            total_session_minutes: 22.5
                      recording_stats:
                        recording_count: 7
                        recording_minutes_consumed: 573.666666666667
                        day_stats:
                          - day: '2023-10-16T00:00:00.000Z'
                            total_recordings: 1
                            total_recording_minutes: 14
                          - day: '2023-10-17T00:00:00.000Z'
                            total_recordings: 5
                            total_recording_minutes: 365.66666666666697
                          - day: '2023-10-18T00:00:00.000Z'
                            total_recordings: 1
                            total_recording_minutes: 194
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
  '/livestreams/{livestream_id}/enable':
    put:
      tags:
        - Live streams
      summary: Enable a livestream
      description: Enables a livestream for the given livestream ID. Retreive the livestream ID using the `Start livestreaming a meeting` API.
      operationId: enable-livestream
      parameters:
        - name: livestream_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/LivestreamBase'
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
  '/livestreams/{livestream_id}/disable':
    put:
      tags:
        - Live streams
      summary: Disable a livestream
      description: Disables a livestream for the given livestream ID. Retreive the livestream ID using the `Start livestreaming a meeting` API.
      operationId: disable-livestream
      parameters:
        - name: livestream_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    $ref: '#/components/schemas/success'
                  LivestreamBase:
                    $ref: '#/components/schemas/LivestreamBase'
              examples:
                Example 1:
                  value:
                    success: true
                    data:
                      status: LIVE
                      name: string
                      meeting_id: string
                      ingest_server: string
                      id: string
                      stream_key: string
                      playback_url: string
                      created_at: '2019-08-24T14:15:22Z'
                      updated_at: '2019-08-24T14:15:22Z'
                      disabled: false
                      org_id: string
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
  '/sessions/{session_id}/livestream-sessions':
    get:
      tags:
        - Live streams
      summary: Fetch livestream session details using a session ID
      description: Returns livestream session details for the given session ID. Retreive the session ID using the `Fetch all sessions of an organization` API.
      operationId: get-v2-livestreamsession-session-meetingId-active-livestream
      parameters:
        - name: per_page
          in: query
          description: Number of results per page.
          schema:
            type: number
        - name: page_no
          in: query
          description: The page number from which you want your page search results to be displayed.
          schema:
            type: number
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      err_message:
                        type: string
                        enum:
                          - LIVE
                          - IDLE
                          - ERRORED
                          - INVOKED
                      invoked_time:
                        type: string
                        nullable: true
                        description: Name of the livestream.
                      livestream_id:
                        type: string
                        description: The ID of the livestream.
                      created_at:
                        type: string
                        description: Timestamp the object was created at. The time is returned in ISO format.
                        format: date-time
                      updated_at:
                        type: string
                        description: Timestamp the object was updated at. The time is returned in ISO format.
                        format: date-time
                      id:
                        type: string
                        description: The livestream session ID.
                      stopped_time:
                        type: string
                        description: Specifies if the livestream was disabled.
                        format: date-time
                      ingest_seconds:
                        type: number
                        description: The time duration for which the input was given or the meeting was streamed.
                      viewer_seconds:
                        type: number
                        description: The total view time for which the viewers watched the stream.
                      paging:
                        type: object
                        properties:
                          total_count:
                            type: number
                          start_offset:
                            type: number
                          end_offset:
                            type: number
                x-examples: null
              examples:
                example-1:
                  value:
                    success: true
                    data:
                      data:
                        - id: cf55a850-c3fd-46b5-b5d2-25b3b9aa1686
                          livestream_id: b60ef3da-fbbb-441b-9168-8235b0035123
                          err_message: null
                          invoked_time: null
                          started_time: '2023-07-15T07:08:39.000Z'
                          stopped_time: '2023-07-15T07:10:45.000Z'
                          created_at: '2023-07-15T07:08:40.742Z'
                          updated_at: '2023-07-15T07:11:47.274Z'
                          ingest_seconds: 118
                          viewer_seconds: 116.11599994199997
                      paging:
                        total_count: 1
                        start_offset: 1
                        end_offset: 1
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
  '/meetings/{meeting_id}/active-livestream':
    get:
      tags:
        - Live streams
      summary: Fetch active livestreams for a meeting
      description: Returns details of all active livestreams for the given meeting ID.
      operationId: get-v2-meetings-meetingId-active-livestream
      parameters:
        - name: meeting_id
          in: path
          description: ID of the meeting
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        enum:
                          - LIVE
                          - IDLE
                          - ERRORED
                          - INVOKED
                      name:
                        type: string
                        nullable: true
                        description: Name of the livestream.
                      meeting_id:
                        type: string
                      created_at:
                        type: string
                        description: Timestamp the object was created at. The time is returned in ISO format.
                        format: date-time
                      updated_at:
                        type: string
                        description: Timestamp the object was updated at. The time is returned in ISO format.
                        format: date-time
                      ingest_server:
                        type: string
                        description: The server URL to which the RTMP encoder sends the video and audio data.
                      id:
                        type: string
                        description: The livestream ID.
                      stream_key:
                        type: string
                        description: Unique key for accessing each livestream.
                      playback_url:
                        type: string
                        description: The web address that viewers can use to watch the livestream.
                      disabled:
                        type: string
                        description: Specifies if the livestream was disabled.
                x-examples: null
              examples:
                example-1:
                  value:
                    success: true
                    data:
                      id: 61e03cb4-d4da-42ad-9169-f53360f4f4b4
                      name: null
                      status: LIVE
                      meeting_id: bbb03399-24e3-4b0c-90ec-172e97e636be
                      playback_url: 'https://2ec802dd47b0.ap-south-1.playback.live-video.net/api/video/v1/ap-south-1.811208621410.channel.9Ztr6yk4vndX.a1c3'
                      created_at: '2023-07-15T11:58:08.404Z'
                      updated_at: '2023-07-15T11:58:24.278Z'
                      disabled: false
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
  '/livestreams/sessions/{livestream-session-id}':
    get:
      tags:
        - Live streams
      summary: Fetch livestream session details using livestream session ID
      description: Returns livestream session details for the given livestream session ID. Retrieve the `livestream_session_id`using the `Fetch livestream session details using a session ID` API.
      operationId: get-v2-livestreams-livestream-session-id
      parameters:
        - name: livestream-session-id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      livestream_id:
                        type: string
                      created_at:
                        type: string
                        description: Timestamp the object was created at. The time is returned in ISO format.
                        format: date-time
                      updated_at:
                        type: string
                        description: Timestamp the object was updated at. The time is returned in ISO format.
                      err_message:
                        type: string
                        description: The server URL to which the RTMP encoder sends the video and audio data.
                      id:
                        type: string
                        description: The livestream ID.
                      started_time:
                        type: string
                        description: Unique key for accessing each livestream.
                      stopped_time:
                        type: string
                        description: The web address that viewers can use to watch the livestream.
                      ingest_seconds:
                        type: integer
                        description: Name of the livestream.
                      viewer_seconds:
                        type: integer
                        description: Specifies if the livestream was disabled.
                x-examples: null
              examples:
                example-1:
                  value:
                    success: true
                    data:
                      id: cf55a850-c3fd-46b5-b5d2-25b3b9aa1686
                      livestream_id: b60ef3da-fbbb-441b-9168-8235b0035248
                      err_message: null
                      invoked_time: null
                      started_time: '2023-07-15T07:08:39.000Z'
                      stopped_time: null
                      created_at: '2023-07-15T07:08:40.742Z'
                      updated_at: '2023-07-15T07:08:40.742Z'
                      ingest_seconds: 60
                      viewer_seconds: 60
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
  '/livestreams/{livestream_id}/active-livestream-session':
    get:
      tags:
        - Live streams
      summary: Fetch active livestream session details
      description: Returns details of all active livestreams for the given livestream ID. Retreive the livestream ID using the `Start livestreaming a meeting` API.
      operationId: get-v2-active-livestream-session-details
      parameters:
        - name: livestream_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      livestream:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                            description: Name of the livestream.
                          ingest_server:
                            type: string
                            description: The server URL to which the RTMP encoder sends the video and audio data.
                          stream_key:
                            type: string
                            description: Unique key for accessing each livestream.
                          status:
                            type: string
                            enum:
                              - LIVE
                              - IDLE
                              - ERRORED
                              - INVOKED
                          meeting_id:
                            type: string
                            description: ID of the meeting.
                          playback_url:
                            type: string
                            description: The web address that viewers can use to watch the livestream.
                          created_at:
                            type: string
                            description: Timestamp the object was created at. The time is returned in ISO format.
                            format: date-time
                          updated_at:
                            type: string
                            description: Timestamp the object was updated at. The time is returned in ISO format.
                            format: date-time
                          disabled:
                            type: string
                            description: Specifies if the livestream was disabled.
                      session:
                        type: object
                        properties:
                          id:
                            type: string
                          livestream_id:
                            type: string
                          err_message:
                            type: string
                          invoked_time:
                            type: string
                            description: Timestamp the object was invoked. The time is returned in ISO format.
                            format: date-time
                          started_time:
                            type: string
                            description: Timestamp the object was started. The time is returned in ISO format.
                            format: date-time
                          stopped_time:
                            type: string
                            description: Timestamp the object was stopped. The time is returned in ISO format.
                            format: date-time
                          created_at:
                            type: string
                            description: Timestamp the object was created at. The time is returned in ISO format.
                            format: date-time
                          updated_at:
                            type: string
                            description: Timestamp the object was updated at. The time is returned in ISO format.
                            format: date-time
                          ingest_seconds:
                            type: string
                            description: The time duration for which the input was given or the meeting was streamed.
                          viewer_seconds:
                            type: string
                            description: The total view time for which the viewers watched the stream.
                x-examples: null
              examples:
                example-1:
                  value:
                    success: true
                    data:
                      livestream:
                        id: b60ef3da-fbbb-441b-9168-8235b0035248
                        name: null
                        ingest_server: 'rtmps://2ec802dd47b0.global-contribute.live-video.net:443/app/'
                        stream_key: sk_ap-south-1_x3lKBdJa8UDN_3q6PPLMJnqnbnhyrkXrOG504MUsxnZ
                        status: LIVE
                        meeting_id: bbb87945-df1c-49d9-8159-262a7ae6cfde
                        playback_url: 'https://2ec802dd47b0.ap-south-1.playback.live-video.net/api/video/v1/ap-south-1.944908621410.channel.ob5KQUrP5Zaf.m3u8'
                        created_at: '2023-07-15T07:08:26.634Z'
                        updated_at: '2023-07-15T07:08:40.726Z'
                        disabled: false
                      session:
                        id: cf55a850-c3fd-46b5-b5d2-25b3b9aa1686
                        livestream_id: b60ef3da-fbbb-441b-9168-8235b0035248
                        err_message: null
                        invoked_time: null
                        started_time: '2023-07-15T07:08:39.000Z'
                        stopped_time: null
                        created_at: '2023-07-15T07:08:40.742Z'
                        updated_at: '2023-07-15T07:08:40.742Z'
                        ingest_seconds: 60
                        viewer_seconds: 60
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
  '/livestreams/{livestream_id}':
    get:
      tags:
        - Live streams
      summary: Fetch livestream details using livestream ID
      description: Returns details of a livestream with sessions for the given livestream ID. Retreive the livestream ID using the `Start livestreaming a meeting` API.
      operationId: get-v2-livestream-session-livestream-id
      parameters:
        - name: page_no
          in: query
          description: The page number from which you want your page search results to be displayed.
          schema:
            type: integer
        - name: per_page
          in: query
          description: Number of results per page.
          schema:
            type: integer
        - name: livestream_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      livestream:
                        type: object
                        properties:
                          id:
                            type: string
                            description: ID of the livestream.
                          name:
                            type: string
                            description: Name of the livestream.
                          ingest_server:
                            type: string
                            description: The server URL to which the RTMP encoder sends the video and audio data.
                          stream_key:
                            type: string
                            description: Unique key for accessing each livestream.
                          status:
                            type: string
                            enum:
                              - LIVE
                              - IDLE
                              - ERRORED
                              - INVOKED
                          meeting_id:
                            type: string
                            description: The ID of the meeting.
                          playback_url:
                            type: string
                            description: The web address that viewers can use to watch the livestream.
                          created_at:
                            type: string
                            description: Timestamp the object was created at. The time is returned in ISO format.
                          updated_at:
                            type: string
                            description: Timestamp the object was updated at. The time is returned in ISO format.
                          disabled:
                            type: string
                            description: Specifies if the livestream was disabled.
                      session:
                        type: object
                        properties:
                          id:
                            type: string
                            description: ID of the session.
                          livestream_id:
                            type: string
                          err_message:
                            type: string
                          invoked_time:
                            type: string
                            description: Timestamp the object was invoked. The time is returned in ISO format.
                            format: date-time
                          started_time:
                            type: string
                            description: Timestamp the object was started. The time is returned in ISO format.
                            format: date-time
                          stopped_time:
                            type: string
                            description: Timestamp the object was stopped. The time is returned in ISO format.
                            format: date-time
                          created_at:
                            type: string
                            description: Timestamp the object was created at. The time is returned in ISO format.
                            format: date-time
                          updated_at:
                            type: string
                            description: Timestamp the object was updated at. The time is returned in ISO format.
                            format: date-time
                          ingest_seconds:
                            type: number
                            description: The time duration for which the input was given or the meeting was streamed.
                          viewer_seconds:
                            type: number
                            description: The total view time for which the viewers watched the stream.
                      paging:
                        type: object
                        properties:
                          total_count:
                            type: integer
                            example: 1
                          start_offset:
                            type: integer
                            example: 1
                          end_offset:
                            type: integer
                            example: 1
                x-examples: null
              examples:
                example-1:
                  value:
                    success: true
                    data:
                      livestream:
                        id: b60ef3da-fbbb-441b-9168-8235b0035248
                        name: null
                        ingest_server: 'rtmps://2ec802dd47b0.global-contribute.live-video.net:443/app/'
                        stream_key: sk_ap-south-1_x3lKBdJa8UDN_3q6PPLMJnqnbnhyrkXrOG504MUsxnZ
                        status: LIVE
                        meeting_id: bbb87945-df1c-49d9-8159-262a7ae6cfde
                        playback_url: 'https://2ec802dd47b0.ap-south-1.playback.live-video.net/api/video/v1/ap-south-1.944908621410.channel.ob5KQUrP5Zaf.m3u8'
                        created_at: '2023-07-15T07:08:26.634Z'
                        updated_at: '2023-07-15T07:08:40.726Z'
                        disabled: false
                      sessions:
                        - id: cf55a850-c3fd-46b5-b5d2-25b3b9aa1686
                          livestream_id: b60ef3da-fbbb-441b-9168-8235b0035248
                          err_message: null
                          invoked_time: null
                          started_time: '2023-07-15T07:08:39.000Z'
                          stopped_time: null
                          created_at: '2023-07-15T07:08:40.742Z'
                          updated_at: '2023-07-15T07:08:40.742Z'
                          ingest_seconds: 60
                          viewer_seconds: 60
                    paging:
                      total_count: 1
                      start_offset: 1
                      end_offset: 1
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
  '/meetings/{meeting_id}/active-session':
    get:
      tags:
        - Active session
      summary: Fetch details of an active session
      description: Returns details of an ongoing active session for the given meeting ID.
      operationId: GetActiveSession
      parameters:
        - $ref: '#/components/parameters/meetingId'
      responses:
        '200':
          $ref: '#/components/responses/GetActiveSession'
        '404':
          $ref: '#/components/responses/GetActiveSessionNotFound'
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
  '/meetings/{meeting_id}/active-session/kick':
    post:
      tags:
        - Active session
      summary: Kick participants from an active session
      description: Kicks one or more participants from an active session using user ID or custom participant ID.
      operationId: KickPartcipants
      parameters:
        - $ref: '#/components/parameters/meetingId'
      requestBody:
        $ref: '#/components/requestBodies/KickParticipantsBody'
      responses:
        '200':
          $ref: '#/components/responses/KickParticipants'
        '404':
          $ref: '#/components/responses/ParticipantNotFound'
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
  '/meetings/{meeting_id}/active-session/kick-all':
    post:
      tags:
        - Active session
      summary: Kick all participants
      description: Kicks all participants from an active session for the given meeting ID.
      operationId: KickAllParticipants
      parameters:
        - $ref: '#/components/parameters/meetingId'
      responses:
        '200':
          $ref: '#/components/responses/KickAllParticipants'
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
  '/meetings/{meeting_id}/active-session/mute':
    post:
      tags:
        - Active session
      summary: Mute participants of an active session
      description: Mutes one or more participants from an active session using user ID or custom participant ID.
      operationId: MuteParticipants
      parameters:
        - $ref: '#/components/parameters/meetingId'
      requestBody:
        $ref: '#/components/requestBodies/KickParticipantsBody'
      responses:
        '200':
          $ref: '#/components/responses/MuteParticipants'
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
  '/meetings/{meeting_id}/active-session/mute-all':
    post:
      tags:
        - Active session
      summary: Mute all participants
      description: Mutes all participants of an active session for the given meeting ID.
      operationId: MuteAllParticipants
      parameters:
        - $ref: '#/components/parameters/meetingId'
      requestBody:
        $ref: '#/components/requestBodies/MuteAllParticipantsBody'
      responses:
        '200':
          $ref: '#/components/responses/MuteAllParticipants'
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
  '/meetings/{meeting_id}/active-session/poll':
    post:
      tags:
        - Active session
      summary: Create a poll
      description: Creates a new poll in an active session for the given meeting ID.
      operationId: CreatePoll
      parameters:
        - $ref: '#/components/parameters/meetingId'
      requestBody:
        $ref: '#/components/requestBodies/CreatePollBody'
      responses:
        '201':
          $ref: '#/components/responses/CreatePoll'
        '400':
          description: Bad Request
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
  /sessions:
    get:
      tags:
        - Sessions
      summary: Fetch all sessions of an organization
      description: Returns details of all sessions of an organization.
      operationId: GetSessions
      parameters:
        - $ref: '#/components/parameters/pageNo'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/sortBy'
        - $ref: '#/components/parameters/sortOrder'
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/participants'
        - $ref: '#/components/parameters/status'
        - name: search
          in: query
          description: 'Search string that matches sessions based on meeting title, meeting ID, and session ID'
          schema:
            type: string
        - name: associated_id
          in: query
          description: ID of the meeting that sessions should be associated with
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/GetSessions'
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
  '/sessions/{session_id}':
    get:
      tags:
        - Sessions
      summary: Fetch details of a session
      description: Returns data of the given session ID including recording details.
      operationId: GetSessionDetails
      parameters:
        - name: include_breakout_rooms
          in: query
          description: List all breakout rooms
          schema:
            type: boolean
            default: false
        - name: session_id
          in: path
          description: ID of the session
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/GetSessionDetails'
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
  '/sessions/{session_id}/participants':
    get:
      tags:
        - Sessions
      summary: Fetch participants list of a session
      description: Returns a list of participants for the given session ID.
      operationId: GetSessionParticipants
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/pageNo'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/sortOrder'
        - $ref: '#/components/parameters/participantsSortBy'
        - name: include_peer_events
          in: query
          description: 'if true, response includes all the peer events of participants.'
          schema:
            type: boolean
            default: false
        - name: view
          in: query
          description: 'In breakout room sessions, the view parameter can be set to `raw` for session specific duration for participants or `consolidated` to accumulate breakout room durations.'
          schema:
            type: string
            enum:
              - raw
              - consolidated
            default: raw
        - name: session_id
          in: path
          description: ID of the session
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/GetSessionParticipants'
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
  '/sessions/{session_id}/participants/{participant_id}':
    get:
      tags:
        - Sessions
      summary: Fetch details of a participant
      description: Returns details of the given participant ID along with call statistics for the given session ID.
      operationId: GetParticipantDetails
      parameters:
        - name: filters
          in: query
          description: Comma separated list of filters to apply. Note that there must be no spaces between the filters.
          allowEmptyValue: true
          schema:
            type: string
            enum:
              - device_info
              - ip_information
              - precall_network_information
              - events
              - quality_stats
            example: 'device_info,ip_information,events'
        - name: include_peer_events
          in: query
          description: 'if true, response includes all the peer events of participant.'
          schema:
            type: boolean
            default: false
        - name: participant_id
          in: path
          description: ID of the participant
          required: true
          schema:
            type: string
        - name: session_id
          in: path
          description: ID of the session
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/GetParticipantDetails'
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
  '/sessions/{session_id}/chat':
    get:
      tags:
        - Sessions
      summary: Fetch all chat messages of a session
      description: |
        Returns a URL to download all chat messages of the session ID in CSV format.
        <!-- theme: warning -->
        > #### NOTE
        >
        > This API is in beta and is disabled by default. [Contact us](https://dyte.io/contact) to enable it
        > for your organization.
      operationId: GetSessionChat
      parameters:
        - name: session_id
          in: path
          description: ID of the session
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/GetSessionChat'
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
  '/sessions/{session_id}/transcript':
    get:
      tags:
        - Sessions
      summary: Fetch the complete transcript for a session
      description: Returns a URL to download the transcript for the session ID in CSV format.
      operationId: GetSessionTranscript
      parameters:
        - name: session_id
          in: path
          description: ID of the session
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/GetSessionTranscript'
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
  '/sessions/{session_id}/summary':
    get:
      tags:
        - Sessions
      summary: Fetch summary of transcripts for a session
      description: Returns a Summary URL to download the Summary of Transcripts for the session ID as plain text.
      operationId: GetSessionSummary
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/GetSessionTranscriptSummary'
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
    post:
      tags:
        - Sessions
      summary: Generate summary of Transcripts for the session
      description: Trigger Summary generation of Transcripts for the session ID.
      operationId: post-sessions-session_id-summary
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      success:
                        type: boolean
                      message:
                        type: string
                x-examples:
                  Example 1:
                    success: true
                    data:
                      success: true
                      message: Success
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
  /webhooks:
    get:
      tags:
        - Webhooks
      summary: Fetch all webhooks details
      description: Returns details of all webhooks for an organization.
      operationId: getAllWebhooks
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhooksListSuccessResponse'
        '401':
          description: Invalid credentials
          content:
            application/json:
              examples:
                default:
                  value: |
                    {
                      message: "Unauthorized"
                    }
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
    post:
      tags:
        - Webhooks
      summary: Add a webhook
      description: Adds a new webhook to an organization.
      operationId: addWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookRequest'
      responses:
        '201':
          description: Webhook registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSuccessResponse'
        '400':
          description: Error - malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                default:
                  value: |
                    {
                      success: false,
                      error: { code: 400, message: 'BAD_REQUEST: "name" is required' }
                    }
        '401':
          description: Invalid credentials
          content:
            application/json:
              examples:
                default:
                  value: |
                    {
                      message: "Unauthorized"
                    }
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
  '/webhooks/{webhook_id}':
    get:
      tags:
        - Webhooks
      summary: Fetch details of a webhook
      description: Returns webhook details for the given webhook ID.
      operationId: getWebhook
      parameters:
        - name: webhook_id
          in: path
          description: ID of the webhook
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSuccessResponse'
        '400':
          description: Error - malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                default:
                  value: |
                    {
                      success: false,
                      error: { code: 400, message: 'BAD_REQUEST: "id" must be a valid GUID' }
                    }
        '401':
          description: Invalid credentials
          content:
            application/json:
              examples:
                default:
                  value: |
                    {
                      message: "Unauthorized"
                    }
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
    put:
      tags:
        - Webhooks
      summary: Replace a webhook
      description: Replace all details for the given webhook ID.
      operationId: replaceWebhook
      parameters:
        - name: webhook_id
          in: path
          description: ID of the webhook
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookRequest'
            examples:
              default:
                value: |
                  {
                    "name": "test",
                    "events": [ "meeting.started" ],
                    "url": "https://new-test-url.com"
                  }
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSuccessResponse'
              examples:
                default:
                  value: |
                    {
                      "success": true,
                      "data": {
                        id: "901e9adf-ebd9-41f0-9098-28171bc04ddd",
                        "name": "test",
                        "events": [ "meeting.started" ],
                        "url": "https://new-test-url.com",
                        "created_at": "2021-09-09T10:25:12.330Z",
                        "updated_at": "2021-09-09T10:25:12.376Z"
                      }
                    }
        '400':
          description: Error - malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                default:
                  value: |
                    {
                      "success": false,
                      "error": { "code": 400, "message": "BAD_REQUEST \"id\" must be a valid GUID" }
                    }
        '401':
          description: Invalid credentials
          content:
            application/json:
              examples:
                default:
                  value: |
                    {
                      message: "Unauthorized"
                    }
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
    patch:
      tags:
        - Webhooks
      summary: Edit a webhook
      description: Edits the webhook details for the given webhook ID.
      operationId: editWebhook
      parameters:
        - name: webhook_id
          in: path
          description: ID of the webhook
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchWebhookRequest'
            examples:
              default:
                value: |
                  {
                    "name": "test",
                    "events": [ "meeting.started" ],
                    "url": "https://new-test-url.com"
                  }
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSuccessResponse'
              examples:
                default:
                  value: |
                    {
                      "success": true,
                      "data": {
                        id: "901e9adf-ebd9-41f0-9098-28171bc04ddd",
                        "name": "test",
                        "events": [ "meeting.started" ],
                        "url": "https://new-test-url.com",
                        "created_at": "2021-09-09T10:25:12.330Z",
                        "updated_at": "2021-09-09T10:25:12.376Z"
                      }
                    }
        '400':
          description: Error - malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                default:
                  value: |
                    {
                      "success": false,
                      "error": { "code": 400, "message": "BAD_REQUEST \"id\" must be a valid GUID" }
                    }
        '401':
          description: Invalid credentials
          content:
            application/json:
              examples:
                default:
                  value: |
                    {
                      "message": "Unauthorized"
                    }
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
    delete:
      tags:
        - Webhooks
      summary: Delete a webhook
      description: Removes a webhook for the given webhook ID.
      operationId: deleteWebhook
      parameters:
        - name: webhook_id
          in: path
          description: ID of the webhook
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSuccessResponse'
        '400':
          description: Error - malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                default:
                  value: |
                    {
                      "success": false,
                      "error": { "code": 400, "message": "BAD_REQUEST \"id\" must be a valid GUID" }
                    }
        '401':
          description: Invalid credentials
          content:
            application/json:
              examples:
                default:
                  value: |
                    {
                      "message": "Unauthorized"
                    }
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
  /orgs:
    get:
      tags:
        - Organizations
      summary: Fetch organization details of all users
      description: Returns organization details of all the users.
      operationId: getAllOrgs
      parameters:
        - name: per_page
          in: query
          description: Number of values to return in a single page. Default value is 25.
          schema:
            type: integer
            minimum: 1
        - name: page_no
          in: query
          description: The page number to return. Default value is 1.
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationListSuccessResponse'
        '400':
          description: Malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - OrgBearer: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
    post:
      tags:
        - Organizations
      summary: Create an organization
      description: Creates an organization. The authenticated user becomes the owner of the organization.
      operationId: createOrg
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationRequest'
      responses:
        '201':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationSuccessResponse'
        '400':
          description: Malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Organization with the provided name already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - OrgBearer: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
  '/orgs/{org_id}':
    get:
      tags:
        - Organizations
      summary: Fetch details of an organization
      description: Returns organization details for the given organization ID. The user must be the organization's owner.
      operationId: getOrg
      parameters:
        - name: org_id
          in: path
          description: ID of the organization
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationSuccessResponse'
        '400':
          description: Malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: User is not authorized to perform this operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - OrgBearer: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
    patch:
      tags:
        - Organizations
      summary: Edit details of an organization
      description: Edits organization details for the given organization ID. The user must be the organization's owner.
      operationId: editOrg
      parameters:
        - name: org_id
          in: path
          description: ID of the organization
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchOrganizationRequest'
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationSuccessResponse'
        '400':
          description: Malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - OrgBearer: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
  /meetings:
    get:
      tags:
        - Meetings
      summary: Fetch all meetings for an organization
      description: Returns all meetings for the given organization ID.
      operationId: get_all_meetings
      parameters:
        - $ref: '#/components/parameters/pageNo'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          $ref: '#/components/responses/GetAllMeetings'
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
    post:
      tags:
        - Meetings
      summary: Create a meeting
      description: Create a meeting for the given organization ID.
      operationId: create_meeting
      requestBody:
        $ref: '#/components/requestBodies/CreateMeetingBody'
      responses:
        '201':
          $ref: '#/components/responses/GetMeeting'
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
  '/meetings/{meeting_id}':
    get:
      tags:
        - Meetings
      summary: Fetch a meeting for an organization
      description: Returns a meeting details in an organization for the given meeting ID.
      operationId: get_meeting
      parameters:
        - name: name
          in: query
          schema:
            type: string
        - name: meeting_id
          in: path
          description: ID of the meeting. Fetch the meeting ID using the create a meeting API.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          $ref: '#/components/responses/GetMeeting'
        '500':
          $ref: '#/components/responses/GenericError'
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
    patch:
      tags:
        - Meetings
      summary: Update a meeting
      description: Updates a meeting in an organization for the given meeting ID.
      operationId: update_meeting
      parameters:
        - name: meeting_id
          in: path
          description: ID of the meeting. Fetch the meeting ID using the create a meeting API.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        $ref: '#/components/requestBodies/UpdateMeetingBody'
      responses:
        '200':
          $ref: '#/components/responses/GetMeeting'
        '500':
          $ref: '#/components/responses/GenericError'
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
    put:
      tags:
        - Meetings
      summary: Replace a meeting
      description: Replaces all the details for the given meeting ID.
      operationId: replace_meeting
      parameters:
        - name: meeting_id
          in: path
          description: ID of the meeting. Fetch the meeting ID using the create a meeting API.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        $ref: '#/components/requestBodies/CreateMeetingBody'
      responses:
        '200':
          $ref: '#/components/responses/GetMeeting'
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
  '/meetings/{meeting_id}/participants':
    get:
      tags:
        - Meetings
      summary: Fetch all participants of a meeting
      description: Returns all participants detail for the given meeting ID.
      operationId: get_meeting_participants
      parameters:
        - $ref: '#/components/parameters/pageNo'
        - $ref: '#/components/parameters/perPage'
        - name: meeting_id
          in: path
          description: ID of the meeting. Fetch the meeting ID using the create a meeting API.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          $ref: '#/components/responses/GetAllParticipants'
        '500':
          $ref: '#/components/responses/GenericError'
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
    post:
      tags:
        - Meetings
      summary: Add a participant
      description: Adds a participant to the given meeting ID.
      operationId: add_participant
      parameters:
        - name: meeting_id
          in: path
          description: ID of the meeting. Fetch the meeting ID using the create a meeting API.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        $ref: '#/components/requestBodies/AddParticipantBody'
      responses:
        '201':
          $ref: '#/components/responses/AddParticipant'
        '500':
          $ref: '#/components/responses/GenericError'
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
  '/meetings/{meeting_id}/participants/{participant_id}':
    get:
      tags:
        - Meetings
      summary: Fetch a participant's detail
      description: Returns a participant details for the given meeting and participant ID.
      operationId: get_meeting_participant
      parameters:
        - name: meeting_id
          in: path
          description: ID of the meeting. You can fetch the meeting ID using the create a meeting API.
          required: true
          schema:
            type: string
            format: uuid
        - name: participant_id
          in: path
          description: ID of the participant. You can fetch the participant ID using the add a participant API.
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/GetParticipant'
        '500':
          $ref: '#/components/responses/GenericError'
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
    patch:
      tags:
        - Meetings
      summary: Edit a participant's detail
      description: Updates a participant's details for the given meeting and participant ID.
      operationId: edit_participant
      parameters:
        - name: meeting_id
          in: path
          description: ID of the meeting. You can fetch the meeting ID using the create a meeting API.
          required: true
          schema:
            type: string
            format: uuid
        - name: participant_id
          in: path
          description: ID of the participant. You can fetch the participant ID using the add a participant API.
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/EditParticipantBody'
      responses:
        '200':
          $ref: '#/components/responses/AddParticipant'
        '500':
          $ref: '#/components/responses/GenericError'
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
    delete:
      tags:
        - Meetings
      summary: Delete a participant
      description: Deletes a participant for the given meeting and participant ID.
      operationId: delete_meeting_participant
      parameters:
        - name: meeting_id
          in: path
          description: ID of the meeting. You can fetch the meeting ID using the create a meeting API.
          required: true
          schema:
            type: string
            format: uuid
        - name: participant_id
          in: path
          description: ID of the participant. You can fetch the participant ID using the add a participant API.
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/DeleteParticipant'
        '500':
          $ref: '#/components/responses/GenericError'
      security:
        - Authorization: []
      servers:
        - url: 'https://api.dyte.io/v2'
          description: ''
  '/meetings/{meeting_id}/participants/{participant_id}/token':
    post:
      tags:
        - Meetings
      summary: Refresh participant's authentication token
      description: Regenerates participant's authentication token for the given meeting and participant ID.
      operationId: regenerate_token
      parameters:
        - name: meeting_id
          in: path
          description: ID of the meeting. You can fetch the meeting ID using the create a meeting API.
          required: true
          schema:
            type: string
            format: uuid
        - name: participant_id
          in: path
          description: ID of the participant. You can fetch the participant ID using the add a  participant API.
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/RegenToken'
[...]
