openapi: 3.0.0
x-stoplight:
  id: f49d2395cc273
servers:
  - url: 'https://api.dyte.io/v2'
    description: ''
    variables: {}
info:
  version: v2
  title: Dyte REST APIs
  description: |-
    ## Rate Limiting

    Rate limits specify the maximum number of requests (GET, POST, PUT, or DELETE) a user can make in a given time period. When you exceed a rate limit, the API request fails and returns the HTTP 429 status code. The HTTP 429 status code indicates that the user made too many requests in a given period of time ("rate limiting").

    We apply rate limits at the IP address level.

    ### Rate Limit by IP Address

    The rate limit threshold is set at 2000 calls per minute per IP address. After 2000 calls, a 429 status code is sent, and access to any of our APIs is denied. 

    Note: Rate limit is applied at the domain level, which means that all APIs are included in the threshold.

    | Number of Requests | Resources | Time Window | Status Code Returned when Threshold Exceeds |
    |--|--|--|--|
    | 2000 | Per IP | Per minute | HTTP 429 |

    ### Sample

    The following sample shows the API response for the status code 429.

    ```http
    HTTP/1.1 429 Too Many Requests
    retry-after: 4
    x-envoy-ratelimited: true
    date: Tue, 06 Sep 2022 08:32:55 GMT
    server: envoy
    ```

    ### Why Do You Set a Rate Limit?

    Rate limiting is required to prevent the network from becoming overloaded as a result of numerous requests. This could be due to hacking activity, overuse of the Dyte APIs by a bot, or a bug in the code. Setting a rate limit helps to prevent this type of API overuse.

    Setting a rate limit also protects us from various types of attacks, such as:
    - [Brute Force Attack](https://www.fortinet.com/resources/cyberglossary/brute-force-attack)
    - [DDOS attack](https://aws.amazon.com/shield/ddos-attack-protection/)
    - [Web-scraping](https://www.geeksforgeeks.org/what-is-web-scraping-and-how-to-use-it/)
  license:
    name: ''
paths:
  /livestreams:
    post:
      summary: Create an independent livestream
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-examples:
                example-1:
                  name: prdmmp-xhycsl-asdf
              properties:
                name:
                  type: string
                  description: Name of the livestream
                  pattern: '^[a-zA-Z0-9-_]*$'
                  nullable: true
            examples:
              example-1:
                value:
                  name: prdmmp-xhycsl
        description: ''
      parameters: []
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                x-examples: null
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        enum:
                          - LIVE
                          - IDLE
                          - ERRORED
                          - INVOKED
                      name:
                        type: string
                      meeting_id:
                        type: string
                        nullable: true
                      ingest_server:
                        type: string
                        description: The server URL to which the RTMP encoder should send the video and audio data.
                      id:
                        type: string
                        description: The livestream ID.
                      stream_key:
                        type: string
                        description: Unique key for accessing each livestream.
                      playback_url:
                        type: string
                        description: The web address that viewers can use to watch the livestream.
                      disabled:
                        type: boolean
                        x-stoplight:
                          id: agr64mp2vma62
                        description: Specifies if the livestream was disabled.
              examples:
                example-1:
                  value:
                    success: true
                    data:
                      status: INVOKED
                      name: Livestreaming-Demo
                      meeting_id: null
                      ingest_server: 'rtmps://2ec802dd47b0.global-contribute.live-video.net:443/app/'
                      id: 78dd0b50-4147-4bb8-88d3-2ccc2e98bff0
                      stream_key: sk_ap-south-1_BSErwBSdrcWn_0eG01cFGCJcRcCsflOAX3Eu4B3RyRX
                      playback_url: 'https://2ec802dd47b0.ap-south-1.playback.live-video.net/api/video/v1/ap-south-1.944908621410.channel.Jk1l97eJF0ME.m3u8'
                      disabled: false
      description: 'Creates a livestream for the given organization ID and returns ingest server, stream key, and playback URL. You can pass custom input to the ingest server and stream key, and freely distribute the content using the playback URL on any player that supports HLS/LHLS.'
      tags:
        - Live streams
    get:
      operationId: fetch_all_livestreams
      summary: Fetch all livestreams
      parameters:
        - schema:
            type: boolean
            default: false
          in: query
          name: exclude_meetings
          description: Exclude the Dyte meetings that are livestreamed.
        - schema:
            type: integer
          in: query
          name: per_page
          description: Number of results per page.
        - schema:
            type: integer
          in: query
          name: page_no
          description: The page number from which you want your page search results to be displayed.
        - schema:
            type: string
            enum:
              - LIVE
              - IDLE
              - ERRORED
              - INVOKED
          in: query
          name: status
          description: Specifies the status of the operation.
        - schema:
            type: string
            format: date-time
          in: query
          name: start_time
          description: Specify the start time range in ISO format to access the live stream.
        - schema:
            type: string
            format: date-time
          in: query
          name: end_time
          description: Specify the end time range in ISO format to access the live stream.
        - schema:
            type: string
            enum:
              - ASC
              - DSC
          in: query
          name: sort_order
          description: Specifies the sorting order for the results.
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                x-examples: null
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      status:
                        x-stoplight:
                          id: oe3trqljjekgt
                        enum:
                          - LIVE
                          - IDLE
                          - ERRORED
                          - INVOKED
                      id:
                        type: string
                        x-stoplight:
                          id: 0ye8a9cpfilt4
                        description: The ID of the livestream.
                        format: uuid
                        example: 3fd739f4-3c41-456e-bfba-6ebd51e16d2d
                      name:
                        type: string
                        x-stoplight:
                          id: k2l2a3mgv7dw3
                        description: Name of the livestream.
                        example: test
                      ingest_server:
                        type: string
                        x-stoplight:
                          id: vvuyzsx4xwool
                        description: The server URL to which the RTMP encoder sends the video and audio data.
                        example: 'rtmps://2ec802dd47b0.global-contribute.live-video.net:443/app/'
                      stream_key:
                        type: string
                        x-stoplight:
                          id: gzscy47k5fvz9
                        description: Unique key for accessing each livestream.
                        example: sk_ap-south-1_fiETVh5SNa3V_MAs0NlNCkJqTokqrMbrdWyA2naII25
                      playback_url:
                        type: string
                        x-stoplight:
                          id: aqtss2w1ubei3
                        description: The web address that viewers can use to watch the livestream.
                        example: 'https://2ec802dd47b0.ap-south-1.playback.live-video.net/api/video/v1/ap-south-1.944908621410.channel.mA2dNqrBulpi.m3u8'
                      meeting_id:
                        type: string
                        x-stoplight:
                          id: q5srp28fax71d
                        description: ID of the meeting.
                      created_at:
                        type: string
                        x-stoplight:
                          id: yx17eqgil0wnx
                        format: date-time
                        description: Timestamp the object was created at. The time is returned in ISO format.
                        example: '2023-07-15T11:48:34.753Z'
                      updated_at:
                        type: string
                        x-stoplight:
                          id: jruccp4ohxszr
                        format: date-time
                        description: Timestamp the object was updated at. The time is returned in ISO format.
                        example: '2023-07-15T11:48:34.753Z'
                      disabled:
                        type: string
                        x-stoplight:
                          id: hd1567rcnmmll
                        description: Specifies if the livestream was disabled.
                      paging:
                        type: object
                        x-stoplight:
                          id: se6iy5mh0ye2i
                        properties:
                          total_count:
                            type: integer
                            x-stoplight:
                              id: kmdvztss5e36c
                            example: 1
                          start_offset:
                            type: integer
                            x-stoplight:
                              id: pw88aeivpxy5c
                            example: 1
                          end_offset:
                            type: integer
                            x-stoplight:
                              id: wr112fr83t6uy
                            example: 1
              examples:
                example-0:
                  summary: Get All Live streams Of An Org Staging Success
                  value:
                    success: true
                    data:
                      - id: 3fd739f4-3c41-456e-bfba-6ebd51e16d2c
                        name: null
                        ingest_server: 'rtmps://1ab802dd26b0.global-contribute.live-video.net:344/app/'
                        stream_key: sk_ap-south-1_fiETVh5SNa3V_ABs0NlNCkJqTokqrMbrdWyA1bcII32
                        status: IDLE
                        meeting_id: null
                        playback_url: 'https://2ec802dd47b0.ap-south-1.playback.live-video.net/api/video/v1/ap-south-1.811208621215.channel.mA2dNqrBulpi.m3u8'
                        created_at: '2023-07-15T11:48:34.753Z'
                        updated_at: '2023-07-15T11:48:34.753Z'
                        disabled: false
                    paging:
                      total_count: 1
                      start_offset: 1
                      end_offset: 1
      description: 'Returns details of livestreams associated with the given organization ID. It includes livestreams created by your organization and Dyte meetings that are livestreamed by your organization. If you only want details of livestreams created by your organization and not Dyte meetings, you can use the `exclude_meetings` query parameter.'
      tags:
        - Live streams
  '/meetings/{meeting_id}/active-livestream/stop':
    post:
      operationId: stop_livestreaming
      summary: Stop livestreaming a meeting
      requestBody:
        content: {}
      parameters: []
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                x-examples: null
              examples:
                example-1:
                  value:
                    success: true
                    data:
                      message: Stopped live stream successfully
      description: Stops the active livestream of a meeting associated with the given meeting ID. Retreive the meeting ID using the `Create a meeting` API.
      tags:
        - Live streams
    parameters:
      - schema:
          type: string
          format: uuid
        name: meeting_id
        in: path
        required: true
        description: ID of the meeting
  '/meetings/{meeting_id}/livestream':
    get:
      summary: Fetch livestream session details for a meeting
      parameters:
        - schema:
            type: integer
          in: query
          name: page_no
          description: The page number from which you want your page search results to be displayed.
        - schema:
            type: integer
          in: query
          name: per_page
          description: Number of results per page.
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                x-examples: null
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      livestreams:
                        type: array
                        items:
                          type: object
                          properties:
                            status:
                              type: string
                              enum:
                                - LIVE
                                - INVOKED
                                - ERRORED
                                - IDLE
                            name:
                              type: string
                              description: Name of the livestream.
                              nullable: true
                            meeting_id:
                              type: string
                              description: The ID of the meeting that was livestreamed.
                            created_at:
                              type: string
                              x-stoplight:
                                id: 2ursflc0yjudg
                              format: date-time
                              description: The timestamp at which the livestream was created. The time is returned in ISO format.
                            updated_at:
                              type: string
                              x-stoplight:
                                id: fbm89kkhekzuk
                              format: date-time
                              description: The timestamp at which the livestream was updated. The time is returned in ISO format.
                            ingest_server:
                              type: string
                              description: The server URL to which the RTMP encoder sends the video and audio data.
                            id:
                              type: string
                              description: The livestream ID.
                            stream_key:
                              type: string
                              description: Unique key for accessing each livestream.
                            playback_url:
                              type: string
                              description: The web address that viewers can use to watch the livestream.
                            disabled:
                              type: boolean
                              x-stoplight:
                                id: ek0x3argsduzr
                              description: Specifies if the livestream was disabled.
                      sessions:
                        type: object
                        x-stoplight:
                          id: s8nlnnhrluzpj
                        properties:
                          id:
                            type: string
                            x-stoplight:
                              id: u025nkbx2xmg4
                            description: The ID of the livestream session.
                          livestream_id:
                            type: string
                            x-stoplight:
                              id: k7cjavgfzthe1
                            description: The ID of the livestream.
                          err_message:
                            type: string
                            x-stoplight:
                              id: 8mw67artca1ac
                          invoked_time:
                            type: string
                            x-stoplight:
                              id: fqsjh126jnr7f
                            format: date-time
                            description: The time at which the livestream was invoked.
                          started_time:
                            type: string
                            x-stoplight:
                              id: 8dldpat32z1ig
                            format: date-time
                            description: The time at which the livestream was started.
                          stopped_time:
                            type: string
                            x-stoplight:
                              id: zitn99bcmdq0f
                            format: date-time
                            description: The time at which the livestream was stopped.
                          created_at:
                            type: string
                            x-stoplight:
                              id: nfeotj6ehmynf
                            description: The timestamp at which the livestream was created. The time is returned in ISO format.
                            format: date-time
                          updated_at:
                            type: string
                            x-stoplight:
                              id: 7apkv2lysdpsz
                            description: The timestamp at which the livestream was updated. The time is returned in ISO format.
                            format: date-time
                          ingest_seconds:
                            type: string
                            x-stoplight:
                              id: 0fu4ifbczmh09
                            description: The time duration for which the input was given or the meeting was streamed.
                      paging:
                        type: object
                        x-stoplight:
                          id: rqq4vdz2o9uj4
                        properties:
                          total_count:
                            type: integer
                            x-stoplight:
                              id: tdmcuu6ilrcih
                            example: 1
                          start_offset:
                            type: integer
                            x-stoplight:
                              id: 7kou64ollx7is
                            example: 1
                          end_offset:
                            type: integer
                            x-stoplight:
                              id: 7rfzlb0l97o87
                            example: 1
              examples:
                example-0:
                  summary: Get LiveStream From StreamId Success
                  value:
                    success: true
                    data:
                      livestream:
                        id: b60ef3da-fbbb-441b-9168-8235b0035248
                        name: null
                        ingest_server: 'rtmps://2ec802dd47b0.global-contribute.live-video.net:233/app/'
                        stream_key: sk_ap-south-1_x3lKBdJa8UDN_3q6ABCDJnqnbnhyrkXrOG103ABsxnZ
                        status: LIVE
                        meeting_id: aaa87945-df1c-49d9-8159-262a7ae6cfde
                        playback_url: 'https://2ec802dd47b0.ap-south-1.playback.live-video.net/api/video/v1/ap-south-1.855008621410.channel.ob5KQUrP5Zaf.m3u8'
                        created_at: '2023-07-15T07:08:26.634Z'
                        updated_at: '2023-07-15T07:08:40.726Z'
                        disabled: false
                      sessions:
                        - id: cf55a850-c3fd-46b5-b5d2-25b3b9aa1686
                          livestream_id: b60ef3da-fbbb-441b-9168-8235b0035248
                          err_message: null
                          invoked_time: null
                          started_time: '2023-07-15T07:08:39.000Z'
                          stopped_time: null
                          created_at: '2023-07-15T07:08:40.742Z'
                          updated_at: '2023-07-15T07:08:40.742Z'
                          ingest_seconds: 60
                          viewer_seconds: 60
                    paging:
                      total_count: 1
                      start_offset: 1
                      end_offset: 1
      description: Returns livestream session details for the given meeting ID. Retreive the meeting ID using the `Create a meeting` API.
      tags:
        - Live streams
      requestBody:
        content: {}
      operationId: livestream-session-details
      x-stoplight:
        id: pcm61j4127kyj
    parameters:
      - schema:
          type: string
          format: uuid
        name: meeting_id
        in: path
        required: true
        description: ID of the meeting
  '/meetings/{meeting_id}/livestreams':
    post:
      summary: Start livestreaming a meeting
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-examples:
                example-1:
                  name: prdmmp-xhycsl
              properties:
                name:
                  type: string
                  pattern: '^[a-zA-Z0-9-_]*$'
                  nullable: true
                video_config:
                  type: object
                  properties:
                    height:
                      type: integer
                      description: Height of the livestreaming video in pixels
                    width:
                      type: integer
                      description: Width of the livestreaming video in pixels
            examples:
              example-1:
                value:
                  name: prdmmp-xhycsl
      parameters: []
      responses:
        '201':
          description: Created
          headers: {}
          content:
            application/json:
              schema:
                type: object
                x-examples: null
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        enum:
                          - LIVE
                          - IDLE
                          - ERRORED
                          - INVOKED
                      ingest_server:
                        type: string
                        description: The server URL to which the RTMP encoder sends the video and audio data.
                      id:
                        type: string
                        description: The livestream ID.
                      stream_key:
                        type: string
                        description: Unique key for accessing each livestream.
                      playback_url:
                        type: string
                        description: The web address that viewers can use to watch the livestream.
              examples:
                example-1:
                  value:
                    success: true
                    data:
                      status: INVOKED
                      ingest_server: 'rtmps://2ec802dd47b0.global-contribute.live-video.net:443/app/'
                      id: 7088bba8-f522-49a8-b59b-3cd0e946bbb0
                      stream_key: sk_ap-south-1_AfnVpeYZjidO_fBpWKody7sDUOEfy9Zc6XAZegkR0Va
                      playback_url: 'https://2ec802dd47b0.ap-south-1.playback.live-video.net/api/video/v1/ap-south-1.944908621410.channel.rVKA2KM5Lunt.m3u8'
      description: Starts livestream of a meeting associated with the given meeting ID. Retreive the meeting ID using the `Create a meeting` API.
      tags:
        - Live streams
      operationId: start-livestreaming
      x-stoplight:
        id: fz9rp69zguhn9
    parameters:
      - schema:
          type: string
          format: uuid
        name: meeting_id
        in: path
        required: true
        description: ID of the meeting
  '/livestreams/{livestream_id}/reset-stream-key':
    post:
      summary: Reset a livestream's stream key
      requestBody:
        content: {}
      parameters: []
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    success: false
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    x-stoplight:
                      id: tkq6d7y5za34s
                    properties:
                      id:
                        type: string
                        x-stoplight:
                          id: 9hdbrcoypcwzd
                        description: The ID of the livestream.
                      name:
                        type: string
                        x-stoplight:
                          id: cva5malguw20o
                        description: Name of the livestream.
                      ingest_server:
                        type: string
                        x-stoplight:
                          id: lf56wa9w3eb5a
                        description: The server URL to which the RTMP encoder sends the video and audio data.
                      stream_key:
                        type: string
                        x-stoplight:
                          id: 51nskgzoid1no
                        description: Unique key for accessing each livestream.
                      status:
                        x-stoplight:
                          id: sm10jmhb2hbrd
                        enum:
                          - LIVE
                          - IDLE
                          - ERRORED
                          - INVOKED
                      meeting_id:
                        type: string
                        x-stoplight:
                          id: 6xxw0hoicncpf
                        description: The ID of the meeting.
                      playback_url:
                        type: string
                        x-stoplight:
                          id: w8bj0bvvg7h2d
                        description: The web address that viewers can use to watch the livestream.
                      created_at:
                        type: string
                        x-stoplight:
                          id: mxhwbbeeqj9m9
                        format: date-time
                        description: Timestamp the object was created at. The time is returned in ISO format.
                      updated_at:
                        type: string
                        x-stoplight:
                          id: aw2rdz6z5q4df
                        format: date-time
                        description: Timestamp the object was updated at. The time is returned in ISO format.
                      disabled:
                        type: string
                        x-stoplight:
                          id: 5vqay20n3z0lj
                        description: Specifies if the livestream was disabled.
              examples:
                Example 1:
                  value:
                    success: true
                    data:
                      id: 61e03cb4-d4da-42ad-9169-f53360f4f4b4
                      name: null
                      ingest_server: 'rtmps://2ec802dd47b0.global-contribute.live-video.net:223/app/'
                      stream_key: ''
                      status: LIVE
                      meeting_id: bbb03399-24e3-4b0c-90ec-172e97e636be
                      playback_url: 'https://2ec802dd47b0.ap-south-1.playback.live-video.net/api/video/v1/ap-south-1.124408622242.channel.9Ztr6yk4vndX.m3a1'
                      created_at: '2023-07-15T11:58:08.404Z'
                      updated_at: '2023-07-15T12:02:48.242Z'
                      disabled: true
            application/xml:
              schema:
                type: object
                properties:
                  success:
                    type: string
                  data:
                    $ref: '#/components/schemas/LivestreamBase'
      description: Resets the stream key for the given livestream ID. Retreive the livestream ID using the `Start livestreaming a meeting` API.
      tags:
        - Live streams
      operationId: reset-stream-key
    parameters:
      - schema:
          type: string
        name: livestream_id
        in: path
        required: true
  /analytics/livestreams/overall:
    parameters: []
    get:
      summary: Fetch complete analytics data for your livestreams
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    x-stoplight:
                      id: x17mrgl1g9bf5
                  data:
                    type: object
                    x-stoplight:
                      id: ld0etwu7u7pdk
                    properties:
                      count:
                        type: integer
                        x-stoplight:
                          id: 5pe2xf0w6dnkp
                        description: Count of total livestreams.
                      total_ingest_seconds:
                        type: integer
                        x-stoplight:
                          id: 7cbckohgd5uew
                        description: Total time duration for which the input was given or the meeting was streamed.
                      total_viewer_seconds:
                        type: integer
                        x-stoplight:
                          id: 7b4e77ziz71wu
                        description: Total view time for which the viewers watched the stream.
              examples:
                Example 1:
                  value:
                    success: true
                    data:
                      - date: '2023-07-15T00:00:00.000Z'
                        count: 4
                        total_ingest_seconds: 531
                        total_viewer_seconds: 116
      operationId: get-livestream-analytics-complete
      description: Returns livestream analytics for the specified time range.
      tags:
        - Live streams
        - LivestreamAnalytics
      parameters:
        - schema:
            type: string
            format: date-time
          in: query
          name: start_time
          description: Specify the start time range in ISO format to access the livestream analytics.
        - schema:
            type: string
            format: date-time
          in: query
          name: end_time
          description: Specify the end time range in ISO format to access the livestream analytics.
  /analytics/livestreams/daywise:
    parameters: []
    get:
      summary: Fetch day-wise analytics data for your livestreams
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    x-stoplight:
                      id: jcscopi2ycxju
                  data:
                    type: object
                    x-stoplight:
                      id: 9olhjvthhbcb9
                    properties:
                      date:
                        type: string
                        x-stoplight:
                          id: mtmh7ceclnudo
                        description: 'The livestream timestamp, provided in ISO format.'
                      count:
                        type: string
                        x-stoplight:
                          id: z9sa35x2hhyq2
                        description: Count of total livestreams.
                      total_ingest_seconds:
                        type: string
                        x-stoplight:
                          id: ms15h83p1repq
                        description: Total time duration for which the input was given or the meeting was streamed.
                      total_viewer_seconds:
                        type: string
                        x-stoplight:
                          id: rtxhta3yyu9yd
                        description: Total view time for which the viewers watched the stream.
              examples:
                Example 1:
                  value:
                    success: true
                    data:
                      - date: '2023-07-15T00:00:00.000Z'
                        count: 4
                        total_ingest_seconds: 531
                        total_viewer_seconds: 116
      operationId: get-livestream-analytics-daywise
      description: Returns day-wise livestream analytics data for the specified time range.
      tags:
        - Live streams
        - LivestreamAnalytics
      parameters:
        - schema:
            type: string
            format: date-time
          in: query
          name: start_time
          description: Specify the start time range in ISO format to access the livestream analytics.
        - schema:
            type: string
            format: date-time
          in: query
          name: end_time
          description: Specify the end time range in ISO format to access the livestream analytics.
  /analytics/daywise:
    parameters: []
    get:
      summary: Fetch day-wise session and recording analytics data for an organization
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    success: true
                    data:
                      session_stats:
                        sessions_count: 4
                        sessions_minutes_consumed: 243.5
                        day_stats:
                          - day: '2023-10-17T00:00:00.000Z'
                            total_sessions: 2
                            total_session_minutes: 221
                          - day: '2023-10-18T00:00:00.000Z'
                            total_sessions: 2
                            total_session_minutes: 22.5
                      recording_stats:
                        recording_count: 7
                        recording_minutes_consumed: 573.666666666667
                        day_stats:
                          - day: '2023-10-16T00:00:00.000Z'
                            total_recordings: 1
                            total_recording_minutes: 14
                          - day: '2023-10-17T00:00:00.000Z'
                            total_recordings: 5
                            total_recording_minutes: 365.66666666666697
                          - day: '2023-10-18T00:00:00.000Z'
                            total_recordings: 1
                            total_recording_minutes: 194
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      session_stats:
                        type: object
                        description: Session statistics of an organization during the range specified
                        properties:
                          sessions_count:
                            type: integer
                            description: Total number of sessions during the range specified
                          sessions_minutes_consumed:
                            type: number
                            description: Total session minutes during the range specified
                          day_stats:
                            type: array
                            description: Day wise session stats
                            items:
                              type: object
                              properties:
                                day:
                                  type: string
                                total_sessions:
                                  type: integer
                                  description: Total number of sessions for a specific day
                                total_session_minutes:
                                  type:
                                    - integer
                                    - number
                                  description: Total session minutes for a specific day
                      recording_stats:
                        type: object
                        description: Recording statistics of an organization during the range specified
                        properties:
                          recording_count:
                            type: integer
                            description: Total number of recordings during the range specified
                          recording_minutes_consumed:
                            type: number
                            description: Total recording minutes during the range specified
                          day_stats:
                            type: array
                            description: Day wise recording stats
                            items:
                              type: object
                              properties:
                                day:
                                  type: string
                                total_recordings:
                                  type: integer
                                  description: Total number of recordings for a specific day
                                total_recording_minutes:
                                  type:
                                    - integer
                                    - number
                                  description: Total recording minutes for a specific day
          headers: {}
      operationId: get-org-analytics
      description: 'Returns day-wise session and recording analytics data of an organization for the specified time range start_date to end_date. If start_date and end_date are not provided, the default time range is set from 30 days ago to the current date.'
      parameters:
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/endDate'
      tags:
        - Analytics
        - Organizations
  '/livestreams/{livestream_id}/enable':
    parameters:
      - schema:
          type: string
        name: livestream_id
        in: path
        required: true
    put:
      summary: Enable a livestream
      operationId: enable-livestream
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    x-stoplight:
                      id: e5non3upkulx5
                  data:
                    $ref: '#/components/schemas/LivestreamBase'
                    x-stoplight:
                      id: h3kbfpcf0cvz3
      description: Enables a livestream for the given livestream ID. Retreive the livestream ID using the `Start livestreaming a meeting` API.
      tags:
        - Live streams
  '/livestreams/{livestream_id}/disable':
    parameters:
      - schema:
          type: string
        name: livestream_id
        in: path
        required: true
    put:
      summary: Disable a livestream
      operationId: disable-livestream
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    x-stoplight:
                      id: e5non3upkulx5
                  data:
                    $ref: '#/components/schemas/LivestreamBase'
                    x-stoplight:
                      id: h3kbfpcf0cvz3
              examples:
                Example 1:
                  value:
                    success: true
                    data:
                      status: LIVE
                      name: string
                      meeting_id: string
                      ingest_server: string
                      id: string
                      stream_key: string
                      playback_url: string
                      created_at: '2019-08-24T14:15:22Z'
                      updated_at: '2019-08-24T14:15:22Z'
                      disabled: false
                      org_id: string
      description: Disables a livestream for the given livestream ID. Retreive the livestream ID using the `Start livestreaming a meeting` API.
      tags:
        - Live streams
  '/sessions/{session_id}/livestream-sessions':
    parameters:
      - schema:
          type: string
        name: session_id
        in: path
        required: true
    get:
      summary: Fetch livestream session details using a session ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples: null
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      err_message:
                        type: string
                        enum:
                          - LIVE
                          - IDLE
                          - ERRORED
                          - INVOKED
                        x-stoplight:
                          id: ajlcjgry8wag1
                      invoked_time:
                        type: string
                        description: Name of the livestream.
                        x-stoplight:
                          id: 8w0e379jakl1c
                        nullable: true
                      livestream_id:
                        type: string
                        x-stoplight:
                          id: umdhjls9fzu2u
                        description: The ID of the livestream.
                      created_at:
                        type: string
                        description: Timestamp the object was created at. The time is returned in ISO format.
                        format: date-time
                      updated_at:
                        type: string
                        description: Timestamp the object was updated at. The time is returned in ISO format.
                        format: date-time
                      id:
                        type: string
                        description: The livestream session ID.
                      stopped_time:
                        type: string
                        description: Specifies if the livestream was disabled.
                        x-stoplight:
                          id: fz5e8qwwjdvbv
                        format: date-time
                      ingest_seconds:
                        type: number
                        x-stoplight:
                          id: m436v28et0h4b
                        description: The time duration for which the input was given or the meeting was streamed.
                      viewer_seconds:
                        type: number
                        x-stoplight:
                          id: gt6682qreyibs
                        description: The total view time for which the viewers watched the stream.
                      paging:
                        type: object
                        x-stoplight:
                          id: licc3tlfn4zqs
                        properties:
                          total_count:
                            type: number
                            x-stoplight:
                              id: fn1g7l6m26trp
                          start_offset:
                            type: number
                            x-stoplight:
                              id: o90qti19q4w05
                          end_offset:
                            type: number
                            x-stoplight:
                              id: zf67fjkaz5zqg
              examples:
                example-1:
                  value:
                    success: true
                    data:
                      data:
                        - id: cf55a850-c3fd-46b5-b5d2-25b3b9aa1686
                          livestream_id: b60ef3da-fbbb-441b-9168-8235b0035123
                          err_message: null
                          invoked_time: null
                          started_time: '2023-07-15T07:08:39.000Z'
                          stopped_time: '2023-07-15T07:10:45.000Z'
                          created_at: '2023-07-15T07:08:40.742Z'
                          updated_at: '2023-07-15T07:11:47.274Z'
                          ingest_seconds: 118
                          viewer_seconds: 116.11599994199997
                      paging:
                        total_count: 1
                        start_offset: 1
                        end_offset: 1
      operationId: get-v2-livestreamsession-session-meetingId-active-livestream
      description: Returns livestream session details for the given session ID. Retreive the session ID using the `Fetch all sessions of an organization` API.
      tags:
        - Live streams
      parameters:
        - schema:
            type: number
          in: query
          name: per_page
          description: Number of results per page.
        - schema:
            type: number
          in: query
          name: page_no
          description: The page number from which you want your page search results to be displayed.
  '/meetings/{meeting_id}/active-livestream':
    parameters:
      - schema:
          type: string
          format: uuid
        name: meeting_id
        in: path
        required: true
        description: ID of the meeting
    get:
      summary: Fetch active livestreams for a meeting
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples: null
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        enum:
                          - LIVE
                          - IDLE
                          - ERRORED
                          - INVOKED
                      name:
                        type: string
                        description: Name of the livestream.
                        nullable: true
                      meeting_id:
                        type: string
                      created_at:
                        type: string
                        description: Timestamp the object was created at. The time is returned in ISO format.
                        format: date-time
                      updated_at:
                        type: string
                        description: Timestamp the object was updated at. The time is returned in ISO format.
                        format: date-time
                      ingest_server:
                        type: string
                        description: The server URL to which the RTMP encoder sends the video and audio data.
                      id:
                        type: string
                        description: The livestream ID.
                      stream_key:
                        type: string
                        description: Unique key for accessing each livestream.
                      playback_url:
                        type: string
                        description: The web address that viewers can use to watch the livestream.
                      disabled:
                        type: string
                        x-stoplight:
                          id: p5vbni7rp58hd
                        description: Specifies if the livestream was disabled.
              examples:
                example-1:
                  value:
                    success: true
                    data:
                      id: 61e03cb4-d4da-42ad-9169-f53360f4f4b4
                      name: null
                      status: LIVE
                      meeting_id: bbb03399-24e3-4b0c-90ec-172e97e636be
                      playback_url: 'https://2ec802dd47b0.ap-south-1.playback.live-video.net/api/video/v1/ap-south-1.811208621410.channel.9Ztr6yk4vndX.a1c3'
                      created_at: '2023-07-15T11:58:08.404Z'
                      updated_at: '2023-07-15T11:58:24.278Z'
                      disabled: false
      operationId: get-v2-meetings-meetingId-active-livestream
      description: Returns details of all active livestreams for the given meeting ID.
      tags:
        - Live streams
      parameters: []
  '/livestreams/sessions/{livestream-session-id}':
    parameters:
      - schema:
          type: string
        name: livestream-session-id
        in: path
        required: true
    get:
      summary: Fetch livestream session details using livestream session ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples: null
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      livestream_id:
                        type: string
                        x-stoplight:
                          id: z7kmz0pjqgovc
                      created_at:
                        type: string
                        description: Timestamp the object was created at. The time is returned in ISO format.
                        format: date-time
                      updated_at:
                        type: string
                        x-stoplight:
                          id: 2zf2eriza9alu
                        description: Timestamp the object was updated at. The time is returned in ISO format.
                      err_message:
                        type: string
                        description: The server URL to which the RTMP encoder sends the video and audio data.
                        x-stoplight:
                          id: 5itonc9euk07e
                      id:
                        type: string
                        description: The livestream ID.
                      started_time:
                        type: string
                        description: Unique key for accessing each livestream.
                        x-stoplight:
                          id: hjv81ynruiaps
                      stopped_time:
                        type: string
                        description: The web address that viewers can use to watch the livestream.
                        x-stoplight:
                          id: cif4ymldivkid
                      ingest_seconds:
                        type: integer
                        description: Name of the livestream.
                        x-stoplight:
                          id: quuqyvb6c22du
                      viewer_seconds:
                        type: integer
                        description: Specifies if the livestream was disabled.
                        x-stoplight:
                          id: ss840fa42f2dj
              examples:
                example-1:
                  value:
                    success: true
                    data:
                      id: cf55a850-c3fd-46b5-b5d2-25b3b9aa1686
                      livestream_id: b60ef3da-fbbb-441b-9168-8235b0035248
                      err_message: null
                      invoked_time: null
                      started_time: '2023-07-15T07:08:39.000Z'
                      stopped_time: null
                      created_at: '2023-07-15T07:08:40.742Z'
                      updated_at: '2023-07-15T07:08:40.742Z'
                      ingest_seconds: 60
                      viewer_seconds: 60
      operationId: get-v2-livestreams-livestream-session-id
      description: Returns livestream session details for the given livestream session ID. Retrieve the `livestream_session_id`using the `Fetch livestream session details using a session ID` API.
      tags:
        - Live streams
      parameters: []
  '/livestreams/{livestream_id}/active-livestream-session':
    parameters:
      - schema:
          type: string
        name: livestream_id
        in: path
        required: true
    get:
      summary: Fetch active livestream session details
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples: null
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      livestream:
                        type: object
                        x-stoplight:
                          id: z1n8zof1y1d7f
                        properties:
                          id:
                            type: string
                            x-stoplight:
                              id: obdwjc45i6hiu
                          name:
                            type: string
                            x-stoplight:
                              id: pck3pj9rslvyb
                            description: Name of the livestream.
                          ingest_server:
                            type: string
                            x-stoplight:
                              id: km7t1lrhq7wu5
                            description: The server URL to which the RTMP encoder sends the video and audio data.
                          stream_key:
                            type: string
                            x-stoplight:
                              id: lk2vyiyj0w81i
                            description: Unique key for accessing each livestream.
                          status:
                            x-stoplight:
                              id: xylo1jluliuf8
                            enum:
                              - LIVE
                              - IDLE
                              - ERRORED
                              - INVOKED
                          meeting_id:
                            type: string
                            x-stoplight:
                              id: y3r1tm75cfi4a
                            description: ID of the meeting.
                          playback_url:
                            type: string
                            x-stoplight:
                              id: 53eq0tpog5ib2
                            description: The web address that viewers can use to watch the livestream.
                          created_at:
                            type: string
                            x-stoplight:
                              id: nckmepbq06ldp
                            format: date-time
                            description: Timestamp the object was created at. The time is returned in ISO format.
                          updated_at:
                            type: string
                            x-stoplight:
                              id: 5y596dwsxaeue
                            format: date-time
                            description: Timestamp the object was updated at. The time is returned in ISO format.
                          disabled:
                            type: string
                            x-stoplight:
                              id: 97k85uncuiij7
                            description: Specifies if the livestream was disabled.
                      session:
                        type: object
                        x-stoplight:
                          id: otdg6an2qn65t
                        properties:
                          id:
                            type: string
                            x-stoplight:
                              id: 8fqik84h9x7l8
                          livestream_id:
                            type: string
                            x-stoplight:
                              id: keu70ty635eby
                          err_message:
                            type: string
                            x-stoplight:
                              id: a4qlsa10bl1a5
                          invoked_time:
                            type: string
                            x-stoplight:
                              id: sy8qrnkspmp1x
                            format: date-time
                            description: Timestamp the object was invoked. The time is returned in ISO format.
                          started_time:
                            type: string
                            x-stoplight:
                              id: n07o9ogpxkeiz
                            format: date-time
                            description: Timestamp the object was started. The time is returned in ISO format.
                          stopped_time:
                            type: string
                            x-stoplight:
                              id: o4z48ppd6k294
                            format: date-time
                            description: Timestamp the object was stopped. The time is returned in ISO format.
                          created_at:
                            type: string
                            x-stoplight:
                              id: s7f3gaqqsrmtk
                            format: date-time
                            description: Timestamp the object was created at. The time is returned in ISO format.
                          updated_at:
                            type: string
                            x-stoplight:
                              id: 9zx76nxrx2yft
                            format: date-time
                            description: Timestamp the object was updated at. The time is returned in ISO format.
                          ingest_seconds:
                            type: string
                            x-stoplight:
                              id: 8n412l8lqc3z7
                            description: The time duration for which the input was given or the meeting was streamed.
                          viewer_seconds:
                            type: string
                            x-stoplight:
                              id: gzpj7k9nx650f
                            description: The total view time for which the viewers watched the stream.
              examples:
                example-1:
                  value:
                    success: true
                    data:
                      livestream:
                        id: b60ef3da-fbbb-441b-9168-8235b0035248
                        name: null
                        ingest_server: 'rtmps://2ec802dd47b0.global-contribute.live-video.net:443/app/'
                        stream_key: sk_ap-south-1_x3lKBdJa8UDN_3q6PPLMJnqnbnhyrkXrOG504MUsxnZ
                        status: LIVE
                        meeting_id: bbb87945-df1c-49d9-8159-262a7ae6cfde
                        playback_url: 'https://2ec802dd47b0.ap-south-1.playback.live-video.net/api/video/v1/ap-south-1.944908621410.channel.ob5KQUrP5Zaf.m3u8'
                        created_at: '2023-07-15T07:08:26.634Z'
                        updated_at: '2023-07-15T07:08:40.726Z'
                        disabled: false
                      session:
                        id: cf55a850-c3fd-46b5-b5d2-25b3b9aa1686
                        livestream_id: b60ef3da-fbbb-441b-9168-8235b0035248
                        err_message: null
                        invoked_time: null
                        started_time: '2023-07-15T07:08:39.000Z'
                        stopped_time: null
                        created_at: '2023-07-15T07:08:40.742Z'
                        updated_at: '2023-07-15T07:08:40.742Z'
                        ingest_seconds: 60
                        viewer_seconds: 60
      operationId: get-v2-active-livestream-session-details
      description: Returns details of all active livestreams for the given livestream ID. Retreive the livestream ID using the `Start livestreaming a meeting` API.
      tags:
        - Live streams
      parameters: []
  '/livestreams/{livestream_id}':
    parameters:
      - schema:
          type: string
        name: livestream_id
        in: path
        required: true
    get:
      summary: Fetch livestream details using livestream ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples: null
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      livestream:
                        type: object
                        properties:
                          id:
                            type: string
                            description: ID of the livestream.
                          name:
                            type: string
                            description: Name of the livestream.
                          ingest_server:
                            type: string
                            description: The server URL to which the RTMP encoder sends the video and audio data.
                          stream_key:
                            type: string
                            description: Unique key for accessing each livestream.
                          status:
                            enum:
                              - LIVE
                              - IDLE
                              - ERRORED
                              - INVOKED
                          meeting_id:
                            type: string
                            description: The ID of the meeting.
                          playback_url:
                            type: string
                            description: The web address that viewers can use to watch the livestream.
                          created_at:
                            type: string
                            description: Timestamp the object was created at. The time is returned in ISO format.
                          updated_at:
                            type: string
                            description: Timestamp the object was updated at. The time is returned in ISO format.
                          disabled:
                            type: string
                            description: Specifies if the livestream was disabled.
                      session:
                        type: object
                        properties:
                          id:
                            type: string
                            description: ID of the session.
                          livestream_id:
                            type: string
                          err_message:
                            type: string
                          invoked_time:
                            type: string
                            description: Timestamp the object was invoked. The time is returned in ISO format.
                            format: date-time
                          started_time:
                            type: string
                            description: Timestamp the object was started. The time is returned in ISO format.
                            format: date-time
                          stopped_time:
                            type: string
                            description: Timestamp the object was stopped. The time is returned in ISO format.
                            format: date-time
                          created_at:
                            type: string
                            description: Timestamp the object was created at. The time is returned in ISO format.
                            format: date-time
                          updated_at:
                            type: string
                            description: Timestamp the object was updated at. The time is returned in ISO format.
                            format: date-time
                          ingest_seconds:
                            type: number
                            description: The time duration for which the input was given or the meeting was streamed.
                          viewer_seconds:
                            type: number
                            description: The total view time for which the viewers watched the stream.
                      paging:
                        type: object
                        x-stoplight:
                          id: 5voo3tsec17pj
                        properties:
                          total_count:
                            type: integer
                            x-stoplight:
                              id: ueiu1cvwn51tn
                            example: 1
                          start_offset:
                            type: integer
                            x-stoplight:
                              id: lsf93fojv1tlo
                            example: 1
                          end_offset:
                            type: integer
                            x-stoplight:
                              id: q0ya8kcvei9nc
                            example: 1
              examples:
                example-1:
                  value:
                    success: true
                    data:
                      livestream:
                        id: b60ef3da-fbbb-441b-9168-8235b0035248
                        name: null
                        ingest_server: 'rtmps://2ec802dd47b0.global-contribute.live-video.net:443/app/'
                        stream_key: sk_ap-south-1_x3lKBdJa8UDN_3q6PPLMJnqnbnhyrkXrOG504MUsxnZ
                        status: LIVE
                        meeting_id: bbb87945-df1c-49d9-8159-262a7ae6cfde
                        playback_url: 'https://2ec802dd47b0.ap-south-1.playback.live-video.net/api/video/v1/ap-south-1.944908621410.channel.ob5KQUrP5Zaf.m3u8'
                        created_at: '2023-07-15T07:08:26.634Z'
                        updated_at: '2023-07-15T07:08:40.726Z'
                        disabled: false
                      sessions:
                        - id: cf55a850-c3fd-46b5-b5d2-25b3b9aa1686
                          livestream_id: b60ef3da-fbbb-441b-9168-8235b0035248
                          err_message: null
                          invoked_time: null
                          started_time: '2023-07-15T07:08:39.000Z'
                          stopped_time: null
                          created_at: '2023-07-15T07:08:40.742Z'
                          updated_at: '2023-07-15T07:08:40.742Z'
                          ingest_seconds: 60
                          viewer_seconds: 60
                    paging:
                      total_count: 1
                      start_offset: 1
                      end_offset: 1
      operationId: get-v2-livestream-session-livestream-id
      description: Returns details of a livestream with sessions for the given livestream ID. Retreive the livestream ID using the `Start livestreaming a meeting` API.
      tags:
        - Live streams
      parameters:
        - schema:
            type: integer
          in: query
          name: page_no
          description: The page number from which you want your page search results to be displayed.
        - schema:
            type: integer
          in: query
          name: per_page
          description: Number of results per page.
  '/meetings/{meeting_id}/active-session':
    get:
      summary: Fetch details of an active session
      description: Returns details of an ongoing active session for the given meeting ID.
      operationId: GetActiveSession
      parameters:
        - $ref: '#/components/parameters/meetingId'
      tags:
        - Active session
      responses:
        '200':
          $ref: '#/components/responses/GetActiveSession'
        '404':
          $ref: '#/components/responses/GetActiveSessionNotFound'
  '/meetings/{meeting_id}/active-session/kick':
    post:
      summary: Kick participants from an active session
      description: Kicks one or more participants from an active session using user ID or custom participant ID.
      operationId: KickPartcipants
      parameters:
        - $ref: '#/components/parameters/meetingId'
      tags:
        - Active session
      requestBody:
        $ref: '#/components/requestBodies/KickParticipantsBody'
      responses:
        '200':
          $ref: '#/components/responses/KickParticipants'
        '404':
          $ref: '#/components/responses/ParticipantNotFound'
  '/meetings/{meeting_id}/active-session/kick-all':
    post:
      summary: Kick all participants
      description: Kicks all participants from an active session for the given meeting ID.
      operationId: KickAllParticipants
      parameters:
        - $ref: '#/components/parameters/meetingId'
      tags:
        - Active session
      responses:
        '200':
          $ref: '#/components/responses/KickAllParticipants'
  '/meetings/{meeting_id}/active-session/mute':
    post:
      summary: Mute participants of an active session
      description: Mutes one or more participants from an active session using user ID or custom participant ID.
      operationId: MuteParticipants
      parameters:
        - $ref: '#/components/parameters/meetingId'
      tags:
        - Active session
      requestBody:
        $ref: '#/components/requestBodies/KickParticipantsBody'
      responses:
        '200':
          $ref: '#/components/responses/MuteParticipants'
  '/meetings/{meeting_id}/active-session/mute-all':
    post:
      summary: Mute all participants
      description: Mutes all participants of an active session for the given meeting ID.
      operationId: MuteAllParticipants
      parameters:
        - $ref: '#/components/parameters/meetingId'
      tags:
        - Active session
      requestBody:
        $ref: '#/components/requestBodies/MuteAllParticipantsBody'
      responses:
        '200':
          $ref: '#/components/responses/MuteAllParticipants'
  '/meetings/{meeting_id}/active-session/poll':
    post:
      summary: Create a poll
      description: Creates a new poll in an active session for the given meeting ID.
      operationId: CreatePoll
      parameters:
        - $ref: '#/components/parameters/meetingId'
      tags:
        - Active session
      requestBody:
        $ref: '#/components/requestBodies/CreatePollBody'
      responses:
        '201':
          $ref: '#/components/responses/CreatePoll'
        '400':
          description: Bad Request
  /sessions:
    get:
      summary: Fetch all sessions of an organization
      description: Returns details of all sessions of an organization.
      operationId: GetSessions
      tags:
        - Sessions
      parameters:
        - $ref: '#/components/parameters/pageNo'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/sortBy'
        - $ref: '#/components/parameters/sortOrder'
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/participants'
        - $ref: '#/components/parameters/status'
        - schema:
            type: string
          in: query
          name: search
          description: 'Search string that matches sessions based on meeting title, meeting ID, and session ID'
        - schema:
            type: string
          in: query
          name: associated_id
          description: ID of the meeting that sessions should be associated with
      responses:
        '200':
          $ref: '#/components/responses/GetSessions'
  '/sessions/{session_id}':
    get:
      summary: Fetch details of a session
      description: Returns data of the given session ID including recording details.
      operationId: GetSessionDetails
      tags:
        - Sessions
      responses:
        '200':
          $ref: '#/components/responses/GetSessionDetails'
    parameters:
      - schema:
          type: string
        name: session_id
        in: path
        required: true
        description: ID of the session
  '/sessions/{session_id}/participants':
    get:
      summary: Fetch participants list of a session
      description: Returns a list of participants for the given session ID.
      operationId: GetSessionParticipants
      tags:
        - Sessions
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/pageNo'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/sortOrder'
        - $ref: '#/components/parameters/participantsSortBy'
        - name: include_peer_events
          in: query
          description: 'if true, response includes all the peer events of participants'
          schema:
            type: boolean
      responses:
        '200':
          $ref: '#/components/responses/GetSessionParticipants'
    parameters:
      - schema:
          type: string
        name: session_id
        in: path
        required: true
        description: ID of the session
  '/sessions/{session_id}/participants/{participant_id}':
    get:
      summary: Fetch details of a participant
      description: Returns details of the given participant ID along with call statistics for the given session ID.
      operationId: GetParticipantDetails
      tags:
        - Sessions
      responses:
        '200':
          $ref: '#/components/responses/GetParticipantDetails'
      parameters:
        - schema:
            type: string
            example: 'device_info,ip_information,events'
            enum:
              - device_info
              - ip_information
              - precall_network_information
              - events
              - quality_stats
          in: query
          name: filters
          description: Comma separated list of filters to apply. Note that there must be no spaces between the filters.
          allowEmptyValue: true
    parameters:
      - schema:
          type: string
        name: participant_id
        in: path
        required: true
        description: ID of the participant
      - schema:
          type: string
        name: session_id
        in: path
        required: true
        description: ID of the session
  '/sessions/{session_id}/chat':
    get:
      summary: Fetch all chat messages of a session
      description: |
        Returns a URL to download all chat messages of the session ID in CSV format.
        <!-- theme: warning -->
        > #### NOTE
        >
        > This API is in beta and is disabled by default. [Contact us](https://dyte.io/contact) to enable it
        > for your organization.                        
      operationId: GetSessionChat
      tags:
        - Sessions
      responses:
        '200':
          $ref: '#/components/responses/GetSessionChat'
    parameters:
      - schema:
          type: string
        name: session_id
        in: path
        required: true
        description: ID of the session
  /webhooks:
    summary: Represents webhooks for organization
    description: Represents webhooks for organization
    get:
      summary: Fetch all webhooks details
      tags:
        - Webhooks
      description: Returns details of all webhooks for an organization.
      operationId: getAllWebhooks
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhooksListSuccessResponse'
        '401':
          description: Invalid credentials
          content:
            application/json:
              example: |
                {
                  message: "Unauthorized"
                }
    post:
      summary: Add a webhook
      tags:
        - Webhooks
      description: Adds a new webhook to an organization.
      operationId: addWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookRequest'
      responses:
        '201':
          description: Webhook registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSuccessResponse'
        '400':
          description: Error - malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example: |
                {
                  success: false,
                  error: { code: 400, message: 'BAD_REQUEST: "name" is required' }
                }
        '401':
          description: Invalid credentials
          content:
            application/json:
              example: |
                {
                  message: "Unauthorized"
                }
  '/webhooks/{webhook_id}':
    summary: Represents a single webhook
    description: Represents a single webhook for an organization by ID
    get:
      summary: Fetch details of a webhook
      description: Returns webhook details for the given webhook ID.
      tags:
        - Webhooks
      operationId: getWebhook
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSuccessResponse'
        '400':
          description: Error - malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example: |
                {
                  success: false,
                  error: { code: 400, message: 'BAD_REQUEST: "id" must be a valid GUID' }
                }
        '401':
          description: Invalid credentials
          content:
            application/json:
              example: |
                {
                  message: "Unauthorized"
                }
    put:
      summary: Replace a webhook
      description: Replace all details for the given webhook ID.
      tags:
        - Webhooks
      operationId: replaceWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookRequest'
            example: |
              {
                "name": "test",
                "events": [ "meeting.started" ],
                "url": "https://new-test-url.com"
              }
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSuccessResponse'
              example: |
                {
                  "success": true,
                  "data": {
                    id: "901e9adf-ebd9-41f0-9098-28171bc04ddd",
                    "name": "test",
                    "events": [ "meeting.started" ],
                    "url": "https://new-test-url.com",
                    "created_at": "2021-09-09T10:25:12.330Z",
                    "updated_at": "2021-09-09T10:25:12.376Z"
                  }
                }
        '400':
          description: Error - malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example: |
                {
                  "success": false,
                  "error": { "code": 400, "message": "BAD_REQUEST \"id\" must be a valid GUID" }
                }
        '401':
          description: Invalid credentials
          content:
            application/json:
              example: |
                {
                  message: "Unauthorized"
                }
    patch:
      summary: Edit a webhook
      description: Edits the webhook details for the given webhook ID.
      tags:
        - Webhooks
      operationId: editWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchWebhookRequest'
            example: |
              {
                "name": "test",
                "events": [ "meeting.started" ],
                "url": "https://new-test-url.com"
              }
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSuccessResponse'
              example: |
                {
                  "success": true,
                  "data": {
                    id: "901e9adf-ebd9-41f0-9098-28171bc04ddd",
                    "name": "test",
                    "events": [ "meeting.started" ],
                    "url": "https://new-test-url.com",
                    "created_at": "2021-09-09T10:25:12.330Z",
                    "updated_at": "2021-09-09T10:25:12.376Z"
                  }
                }
        '400':
          description: Error - malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example: |
                {
                  "success": false,
                  "error": { "code": 400, "message": "BAD_REQUEST \"id\" must be a valid GUID" }
                }
        '401':
          description: Invalid credentials
          content:
            application/json:
              example: |
                {
                  "message": "Unauthorized"
                }
    delete:
      summary: Delete a webhook
      description: Removes a webhook for the given webhook ID.
      tags:
        - Webhooks
      operationId: deleteWebhook
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSuccessResponse'
        '400':
          description: Error - malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example: |
                {
                  "success": false,
                  "error": { "code": 400, "message": "BAD_REQUEST \"id\" must be a valid GUID" }
                }
        '401':
          description: Invalid credentials
          content:
            application/json:
              example: |
                {
                  "message": "Unauthorized"
                }
    parameters:
      - schema:
          type: string
        name: webhook_id
        in: path
        required: true
        description: ID of the webhook
  /orgs:
    get:
      summary: Fetch organization details of all users
      description: Returns organization details of all the users.
      tags:
        - Organizations
      operationId: getAllOrgs
      parameters:
        - in: query
          name: per_page
          schema:
            type: integer
            minimum: 1
          description: Number of values to return in a single page. Default value is 25.
        - in: query
          name: page_no
          schema:
            type: integer
            minimum: 1
          description: The page number to return. Default value is 1.
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationListSuccessResponse'
        '400':
          description: Malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - OrgBearer: []
    post:
      summary: Create an organization
      description: Creates an organization. The authenticated user becomes the owner of the organization.
      tags:
        - Organizations
      operationId: createOrg
      security:
        - OrgBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationRequest'
      responses:
        '201':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationSuccessResponse'
        '400':
          description: Malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Organization with the provided name already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/orgs/{org_id}':
    get:
      summary: Fetch details of an organization
      description: Returns organization details for the given organization ID. The user must be the organization's owner.
      tags:
        - Organizations
      operationId: getOrg
      security:
        - OrgBearer: []
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationSuccessResponse'
        '400':
          description: Malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: User is not authorized to perform this operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      summary: Edit details of an organization
      description: Edits organization details for the given organization ID. The user must be the organization's owner.
      tags:
        - Organizations
      operationId: editOrg
      security:
        - OrgBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchOrganizationRequest'
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationSuccessResponse'
        '400':
          description: Malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    parameters:
      - schema:
          type: string
        name: org_id
        in: path
        required: true
        description: ID of the organization
  /meetings:
    get:
      summary: Fetch all meetings for an organization
      tags:
        - Meetings
      responses:
        '200':
          $ref: '#/components/responses/GetAllMeetings'
      operationId: get_all_meetings
      description: Returns all meetings for the given organization ID.
      parameters:
        - $ref: '#/components/parameters/pageNo'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/search'
    post:
      summary: Create a meeting
      operationId: create_meeting
      responses:
        '201':
          $ref: '#/components/responses/GetMeeting'
      description: Create a meeting for the given organization ID.
      requestBody:
        $ref: '#/components/requestBodies/CreateMeetingBody'
      tags:
        - Meetings
  '/meetings/{meeting_id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: meeting_id
        in: path
        description: ID of the meeting. Fetch the meeting ID using the create a meeting API.
        required: true
    get:
      summary: Fetch a meeting for an organization
      tags:
        - Meetings
      responses:
        '200':
          $ref: '#/components/responses/GetMeeting'
        '500':
          $ref: '#/components/responses/GenericError'
      operationId: get_meeting
      description: Returns a meeting details in an organization for the given meeting ID.
      parameters:
        - schema:
            type: string
          name: name
          in: query
    patch:
      summary: Update a meeting
      operationId: update_meeting
      responses:
        '200':
          $ref: '#/components/responses/GetMeeting'
        '500':
          $ref: '#/components/responses/GenericError'
      description: Updates a meeting in an organization for the given meeting ID.
      requestBody:
        $ref: '#/components/requestBodies/UpdateMeetingBody'
      tags:
        - Meetings
    put:
      summary: Replace a meeting
      operationId: replace_meeting
      responses:
        '200':
          $ref: '#/components/responses/GetMeeting'
      description: Replaces all the details for the given meeting ID.
      requestBody:
        $ref: '#/components/requestBodies/CreateMeetingBody'
      tags:
        - Meetings
  '/meetings/{meeting_id}/participants':
    parameters:
      - schema:
          type: string
          format: uuid
        name: meeting_id
        in: path
        description: ID of the meeting. Fetch the meeting ID using the create a meeting API.
        required: true
    get:
      summary: Fetch all participants of a meeting
      tags:
        - Meetings
      responses:
        '200':
          $ref: '#/components/responses/GetAllParticipants'
        '500':
          $ref: '#/components/responses/GenericError'
      operationId: get_meeting_participants
      description: Returns all participants detail for the given meeting ID.
      parameters:
        - $ref: '#/components/parameters/pageNo'
        - $ref: '#/components/parameters/perPage'
    post:
      summary: Add a participant
      operationId: add_participant
      responses:
        '201':
          $ref: '#/components/responses/AddParticipant'
        '500':
          $ref: '#/components/responses/GenericError'
      description: Adds a participant to the given meeting ID.
      requestBody:
        $ref: '#/components/requestBodies/AddParticipantBody'
      tags:
        - Meetings
  '/meetings/{meeting_id}/participants/{participant_id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: meeting_id
        in: path
        description: ID of the meeting. You can fetch the meeting ID using the create a meeting API.
        required: true
      - schema:
          type: string
        name: participant_id
        in: path
        required: true
        description: ID of the participant. You can fetch the participant ID using the add a participant API.
    get:
      summary: Fetch a participant's detail
      tags:
        - Meetings
      responses:
        '200':
          $ref: '#/components/responses/GetParticipant'
        '500':
          $ref: '#/components/responses/GenericError'
      operationId: get_meeting_participant
      description: Returns a participant details for the given meeting and participant ID.
      parameters: []
    patch:
      summary: Edit a participant's detail
      operationId: edit_participant
      responses:
        '200':
          $ref: '#/components/responses/AddParticipant'
        '500':
          $ref: '#/components/responses/GenericError'
      description: Updates a participant's details for the given meeting and participant ID.
      requestBody:
        $ref: '#/components/requestBodies/EditParticipantBody'
      tags:
        - Meetings
    delete:
      summary: Delete a participant
      operationId: delete_meeting_participant
      responses:
        '200':
          $ref: '#/components/responses/DeleteParticipant'
        '500':
          $ref: '#/components/responses/GenericError'
      description: Deletes a participant for the given meeting and participant ID.
      tags:
        - Meetings
  '/meetings/{meeting_id}/participants/{participant_id}/token':
    parameters:
      - schema:
          type: string
          format: uuid
        name: meeting_id
        in: path
        description: ID of the meeting. You can fetch the meeting ID using the create a meeting API.
        required: true
      - schema:
          type: string
        name: participant_id
        in: path
        required: true
        description: ID of the participant. You can fetch the participant ID using the add a  participant API.
    post:
      summary: Refresh participant's authentication token
      tags:
        - Meetings
      responses:
        '200':
          $ref: '#/components/responses/RegenToken'
        '500':
          $ref: '#/components/responses/GenericError'
      operationId: regenerate_token
      description: Regenerates participant's authentication token for the given meeting and participant ID.
      parameters: []
  /recordings:
    get:
      summary: Fetch all recordings for an organization
      tags:
        - Recordings
      responses:
        '200':
          $ref: '#/components/responses/GetRecordings'
        '201':
          description: Created
      operationId: get_all_recordings
      description: 'Returns all recordings for an organization. If the `meeting_id` parameter is passed, returns all recordings for the given meeting ID.'
      security:
        - Authorization: []
        - Bearer: []
      parameters:
        - schema:
            type: string
            format: uuid
          in: query
          name: meeting_id
          required: false
          description: ID of a meeting. Optional. Will limit results to only this meeting if passed.
        - $ref: '#/components/parameters/pageNo'
        - $ref: '#/components/parameters/perPage'
        - schema:
            type: boolean
          in: query
          name: expired
          required: false
          description: 'If passed, only shows expired/non-expired recordings on Dyte''s bucket'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/recordingSortBy'
        - $ref: '#/components/parameters/sortOrder'
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/recordingStatus'
    post:
      summary: Start recording a meeting
      operationId: start_recording
      responses:
        '200':
          $ref: '#/components/responses/GetRecording'
      description: 'Starts recording a meeting. The meeting can be started by an organization admin directly, or a participant with permissions to start a recording, based on the type of authorization used.'
      security:
        - Authorization: []
        - Bearer: []
      requestBody:
        $ref: '#/components/requestBodies/StartRecording'
      tags:
        - Recordings
  '/recordings/active-recording/{meeting_id}':
    parameters:
      - schema:
          type: string
        name: meeting_id
        in: path
        required: true
        description: ID of the meeting
    get:
      summary: Fetch active recording
      tags:
        - Recordings
      operationId: get_active_recording
      description: Returns the active recording details for the given meeting ID.
      security:
        - Authorization: []
        - Bearer: []
      responses:
        '200':
          $ref: '#/components/responses/GetActiveRecording'
        '404':
          $ref: '#/components/responses/GenericError'
  '/recordings/{recording_id}':
    parameters:
      - schema:
          type: string
        name: recording_id
        in: path
        required: true
        description: ID of the recording
    get:
      summary: Fetch details of a recording
      tags:
        - Recordings
      responses:
        '200':
          $ref: '#/components/responses/GetRecording'
      operationId: get_one_recording
      description: Returns details of a recording for the given recording ID.
      security:
        - Authorization: []
        - Bearer: []
    put:
      summary: Pause/Resume/Stop recording
      operationId: pause_resume_stop_recording
[...]
