.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 12px;
  row-gap: 24px;
}

.section {
  /* --ifm-paragraph-margin-bottom: 36px; */
  margin: 24px 0 36px 0;
}

.card {
  --ifm-link-hover-decoration: none;
  --ifm-link-hover-color: var(--docs-color-text);
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 14px;
  color: var(--docs-color-text-100);
}

.imageContainer {
  aspect-ratio: 16/10;
  min-height: 160px;
  overflow: hidden;
  border-radius: 6px;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.4s all;
  transform: translate3d(0, 0, 0);
}

.card:hover .image {
  transform: scale(125%) translate3d(0, 0, 0);
}

@media only screen and (max-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
