.card h5 {
  font-weight: 500;
}

.card h3 {
  margin: 0;
}

.card h4 {
  font-weight: 600;
  padding: 12px 0;
  margin: 12px 0;
  border-bottom: 1px solid var(--docs-color-border);
}

.props {
  display: flex;
  flex-direction: column;
  gap: 6px;

  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
}

.docs {
  color: var(--docs-color-text-100);
  font-size: 90%;
}

.propType {
  background-color: var(--docs-color-code-background);
  padding: var(--ifm-pre-padding);
  border: 1px solid var(--code-border-color);
  border-radius: var(--ifm-code-border-radius);
}

.default {
  font-size: 90%;
}

.default > span {
  margin-right: 4px;
}

@media screen and (max-width: 996px) {
  .props {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 0px;
  }
}
