:root {
  --docs-sections-menu-background-color: #efefef;
  --docs-sections-menu-active-background-color: #2549aa;
  --docs-sections-menu-active-color: #fff;
}

html[data-theme='dark'] {
  --docs-sections-menu-background-color: #3f3f3f;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 0.5rem;
}

.sectionsMenu {
  flex: 1;
  line-height: 1.2;
}

.multiSectionContainer {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.section {
  padding: 0.75rem;
  cursor: pointer;
  background-color: var(--docs-sections-menu-background-color);
  --ifm-navbar-link-color: var(--docs-sections-menu-active-color);
  --ifm-navbar-link-hover-color: var(--docs-sections-menu-active-color);
}

.sectionActive {
  background-color: var(--docs-sections-menu-active-background-color);
  color: var(--docs-sections-menu-active-color);
}

.section:first-child {
  border-radius: 8px 8px 0 0;
}

.section:last-child {
  border-radius: 0 0 8px 8px;
}

.section:only-child {
  border-radius: 8px;
}

.label {
  margin-bottom: 0.5rem;
  font-size: 14px;
  font-weight: 600;
  font-family: theme('fontFamily.jakarta');
}

.description {
  margin: 0;
  font-size: 14px;
  color: var(--docs-color-text-100);
}

.row {
  display: flex;
  align-items: center;
}
